/* =======================================================================================
04. 지출관리
======================================================================================= */
.btn-month-quarter {
	background: var(--gray-10);
	border-radius: 10rem;
	padding: 0.4rem;
	display: flex;
	align-items: center;
  }
  .btn-month-quarter span {
	padding: 0.3rem 2rem;
	font-size: 1.7rem;
	color: var(--gray-35);
	transition: 0.2s;
  }
  .btn-month-quarter .active {
	background: var(--white);
	border-radius: 10rem;
	color: var(--primary);
  }