/* Dashboard specific styles */
.dashboard-container {
    padding: var(--spacing-lg);
}

.announce-list {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-bottom: 2rem;
  }
  .announce-list i {
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	min-width: 4rem;
	background-color: var(--gray-5);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #7C7F91;
	font-size: 2.2rem;
  }
  .announce-list b {
	font-size: 1.6rem;
	color: var(--gray-90);
  }
  .announce-list a {
	position: relative;
	padding-left: 1rem;
	color: var(--gray-70);
  }
  .announce-list a::before {
	content: "";
	background-color: var(--gray-20);
	width: 1px;
	height: 1rem;
	position: absolute;
	left: 0;
	top: 50%;
	translate: 0 -50%;
  }
  .announce-list a:hover {
	text-decoration: underline;
  }
  
  .dept-target {
	display: flex;
	gap: 2rem;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-bottom: 3rem;
  }
  .dept-target .btn-dept-select {
	border-radius: 2rem;
	border: 1px solid var(--gray-15);
	padding: 1rem 1rem 1rem 1.6rem;
	display: flex;
	gap: 1rem;
	align-items: center;
	transition: 0.2s;
  }
  .dept-target .btn-dept-select:hover {
	background-color: var(--gray-5);
	color: var(--gray-90);
  }
  .dept-target .btn-dept-select::after {
	content: "\ea4e";
	display: block;
	font-family: "remixicon";
	color: var(--gray-35);
	font-size: 1.6rem;
  }
  .dept-target .target-slogan {
	font-size: 2rem;
	color: var(--gray-90);
  }
  
  .chart-div {
	width: 100%;
	height: 100%;
  }
  
  .dashboard-colgroup {
	display: flex;
	gap: 4rem;
  }
  .dashboard-colgroup .col-main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	flex: 1;
  }
  .dashboard-colgroup .col-sub {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 44rem;
  }
  .dashboard-main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	background: var(--gray-5);
	padding: 4rem;
	border-radius: 1.2rem;
  }
  .dashboard-main .box {
	padding-top: 2.8rem;
	padding-bottom: 2.8rem;
  }
  .dashboard-main .sales-stats {
	display: flex;
	gap: 10rem;
  }
  .dashboard-main .sales-stats .heading-m {
	margin: 0;
  }
  .dashboard-main .sales-stats > .sales {
	flex: 1;
  }
  .dashboard-main .sales-stats > .income {
	flex: 1;
  }
  .dashboard-main .sales-stats small {
	font-size: 1.7rem;
	color: var(--gray-80);
  }
  .dashboard-main .sales-total {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .dashboard-main .sales-total .amount b {
	font-size: 2.4rem;
	color: var(--secondary-60);
  }
  .dashboard-main .income-total {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .dashboard-main .income-total .amount b {
	font-size: 2.4rem;
	color: var(--primary);
  }
  .dashboard-main .sub-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 1rem;
	border-top: 1px solid var(--gray-10);
	margin-top: 1rem;
  }
  .dashboard-main .sub-item .title {
	font-size: 1.5rem;
  }
  .dashboard-main .sub-item .amount b {
	font-size: 1.8rem;
	color: var(--gray-90);
  }
  .dashboard-main .member-stats {
	position: relative;
  }
  .dashboard-main .member-stats .heading-m small {
	background: var(--gray-5);
	border-radius: 0.4rem;
	padding: 0.4rem 0.6rem;
	font-size: 1.4rem;
	color: var(--gray-60);
  }
  .dashboard-main .member-stats .prev-day {
	position: absolute;
	right: 4rem;
	top: 2.5rem;
	font-size: 1.5rem;
	color: var(--gray-40);
  }
  .dashboard-main .graph-area {
	height: 30rem;
	margin: 7rem 0 0;
	background: none;
  }
  .dashboard-calendar .calendar-legend {
	position: absolute;
	right: 16rem;
	top: 4rem;
  }
  .dashboard-calendar .calendar-legend .cell-item {
	padding-left: 2rem;
  }
  .dashboard-calendar .calendar-legend .cell-item::before {
	content: "";
	display: block;
	width: 1.2rem;
	height: 1.2rem;
	background: var(--black);
	position: absolute;
	left: 0;
	top: 50%;
	translate: 0 -50%;
	opacity: 0.5;
  }
  .dashboard-calendar .calendar-legend .cell-item:has([name=schedule-1])::before {
	background-color: var(--gray-60);
  }
  .dashboard-calendar .calendar-legend .cell-item:has([name=schedule-2])::before {
	background-color: var(--primary-50);
  }
  .dashboard-calendar .calendar-legend .cell-item:has([name=schedule-3])::before {
	background-color: var(--secondary-60);
  }
  .dashboard-calendar .calendar-legend .cell-item:has([name=schedule-4])::before {
	background-color: var(--point-30);
  }
  .dashboard-calendar .calendar-legend .cell-item:has([name=schedule-5])::before {
	background-color: #E88019;
  }
  .dashboard-calendar .fc .fc-daygrid .fc-scroller-harness,
  .dashboard-calendar .fc .fc-daygrid .fc-scroller-liquid-absolute {
	overflow: visible !important;
  }
  .dashboard-calendar .fc .fc-scroller::-webkit-scrollbar-track {
	background-color: var(--gray-15);
  }
  .dashboard-calendar .fc .fc-scroller::-webkit-scrollbar {
	width: 0.6rem;
	height: 0.6rem;
  }
  .dashboard-calendar .fc .fc-scroller::-webkit-scrollbar-thumb {
	background-color: var(--gray-90);
  }
  .dashboard-calendar .fc .fc-header-toolbar {
	position: relative;
  }
  .dashboard-calendar .fc .fc-toolbar-title {
	background: var(--gray-5);
	border-radius: 0.4rem;
	padding: 0.4rem 0.6rem;
	font-size: 1.4rem;
	color: var(--gray-60);
  }
  .dashboard-calendar .fc .fc-toolbar-chunk:nth-child(2) {
	position: absolute;
	right: 0;
	top: -5.7rem;
  }
  .dashboard-calendar .fc .fc-toolbar-chunk:nth-child(2) .fc-button-group {
	background: var(--gray-10);
	border-radius: 10rem;
	padding: 0.4rem;
	display: flex;
	align-items: center;
  }
  .dashboard-calendar .fc .fc-toolbar-chunk:nth-child(2) .fc-button-group .fc-button {
	background: transparent;
	border: 0;
	color: var(--gray-35);
	padding: 0.6rem 2rem;
	border-radius: 10rem;
	transition: 0.2s;
  }
  .dashboard-calendar .fc .fc-toolbar-chunk:nth-child(2) .fc-button-group .fc-button:focus {
	box-shadow: none;
  }
  .dashboard-calendar .fc .fc-toolbar-chunk:nth-child(2) .fc-button-group .fc-button-active {
	background: var(--white);
	color: var(--primary);
  }
  .dashboard-calendar .fc .fc-toolbar-chunk:nth-child(2) .fc-timeGridDay-button {
	display: none;
  }
  .dashboard-calendar .fc .fc-toolbar-chunk .fc-prev-button,
  .dashboard-calendar .fc .fc-toolbar-chunk .fc-next-button,
  .dashboard-calendar .fc .fc-toolbar-chunk .fc-today-button {
	background: transparent !important;
	border: 0 !important;
	box-shadow: none !important;
	border-radius: 0.4rem !important;
	transition: 0.2s;
  }
  .dashboard-calendar .fc .fc-toolbar-chunk .fc-prev-button:hover,
  .dashboard-calendar .fc .fc-toolbar-chunk .fc-next-button:hover,
  .dashboard-calendar .fc .fc-toolbar-chunk .fc-today-button:hover {
	background: var(--gray-5) !important;
  }
  .dashboard-calendar .fc .fc-toolbar-chunk .fc-today-button {
	color: var(--black);
  }
  .dashboard-calendar .fc .fc-toolbar-chunk .fc-button {
	padding-left: 0.4em;
	padding-right: 0.4em;
  }
  .dashboard-calendar .fc .fc-toolbar-chunk .fc-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
  }
  .dashboard-calendar .fc .fc-toolbar-chunk .fc-icon-chevron-left::before,
  .dashboard-calendar .fc .fc-toolbar-chunk .fc-icon-chevron-right::before {
	color: var(--black);
	font-size: 2rem;
  }
  .dashboard-calendar .fc .fc-view-harness {
	overflow: visible;
  }
  .dashboard-calendar .fc .fc-view {
	margin-right: -1px;
  }
  .dashboard-calendar .fc .fc-day {
	font-size: 1.5rem;
	color: var(--gray-60);
	font-weight: 400;
  }
  .dashboard-calendar .fc .fc-day.fc-day-today {
	font-weight: 600;
	color: var(--gray-90);
  }
  .dashboard-calendar .fc .fc-daygrid-day.fc-day-today,
  .dashboard-calendar .fc .fc-timegrid-col.fc-day-today {
	background-color: transparent;
  }
  .dashboard-calendar .fc .fc-daygrid-day.fc-day-today .fc-timegrid-col-frame,
  .dashboard-calendar .fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-frame,
  .dashboard-calendar .fc .fc-timegrid-col.fc-day-today .fc-timegrid-col-frame,
  .dashboard-calendar .fc .fc-timegrid-col.fc-day-today .fc-daygrid-day-frame {
	background: var(--white);
	border-radius: 0.8rem;
	box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.12);
  }
  .dashboard-calendar .fc .fc-direction-ltr .fc-timegrid-col-events {
	margin: 0;
  }
  .dashboard-calendar .fc .fc-event {
	padding: 0.7rem 1rem;
	border: 0;
	border-radius: 0.8rem;
	transition: 0.2s;
	text-align: center;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
  }
  .dashboard-calendar .fc .fc-event .fc-event-main {
	height: auto;
  }
  .dashboard-calendar .fc .fc-event:hover,
  .dashboard-calendar .fc .fc-event-main {
	color: inherit;
  }
  .dashboard-calendar .fc .fc-timegrid-event-harness-inset .fc-timegrid-event,
  .dashboard-calendar .fc .fc-timegrid-event.fc-event-mirror, .dashboard-calendar .fc .fc-timegrid-more-link {
	box-shadow: none;
  }
  .dashboard-calendar .fc .fc-daygrid-event-dot {
	display: none;
  }
  .dashboard-calendar .fc .fc-timegrid-event {
	margin: 0.4rem 0.6rem;
  }
  .dashboard-calendar .fc .fc-daygrid-event {
	font-size: 1.3rem;
	padding: 0.2rem 0.4rem;
	border-radius: 0.4rem;
	margin-top: 1px;
	margin-bottom: 1px;
	position: relative;
  }
  .dashboard-calendar .fc .fc-daygrid-event .fc-description {
	display: none;
  }
  .dashboard-calendar .fc .fc-daygrid-event:hover .fc-description {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	margin-top: 0;
	z-index: 99;
  }
  .dashboard-calendar .fc .schedule-1 {
	background-color: var(--gray-5);
	color: var(--gray-60) !important;
  }
  .dashboard-calendar .fc .schedule-1:hover {
	background: color-mix(in oklab, var(--gray-5), #000 2.5%);
  }
  .dashboard-calendar .fc .schedule-2 {
	background-color: var(--primary-5);
	color: var(--primary-50) !important;
  }
  .dashboard-calendar .fc .schedule-2:hover {
	background: color-mix(in oklab, var(--primary-5), #000 2.5%);
  }
  .dashboard-calendar .fc .schedule-3 {
	background-color: var(--secondary-5);
	color: var(--secondary-60) !important;
  }
  .dashboard-calendar .fc .schedule-3:hover {
	background: color-mix(in oklab, var(--secondary-5), #000 2.5%);
  }
  .dashboard-calendar .fc .schedule-4 {
	background-color: var(--point-5);
	color: var(--point-30) !important;
  }
  .dashboard-calendar .fc .schedule-4:hover {
	background: color-mix(in oklab, var(--point-5), #000 2.5%);
  }
  .dashboard-calendar .fc .schedule-5 {
	background-color: #FFF8F1;
	color: #E88019 !important;
  }
  .dashboard-calendar .fc .schedule-5:hover {
	background: color-mix(in oklab, #FFF8F1, #000 2.5%);
  }
  .dashboard-calendar .fc .fc-description {
	background: var(--white);
	color: var(--gray-60);
	font-size: 1.2rem;
	border-radius: 0.4rem;
	padding: 0.2rem 0.6rem;
	display: block;
	margin-top: 0.4rem;
  }
  .dashboard-calendar .fc.fc-theme-standard .fc-scrollgrid {
	border: 0;
  }
  .dashboard-calendar .fc.fc-theme-standard td, .dashboard-calendar .fc.fc-theme-standard th {
	border-color: var(--gray-10);
	border-top-color: #f5f5f8;
	border-bottom-color: #f5f5f8;
  }
  .dashboard-calendar .fc.fc-theme-standard .fc-timegrid-slot {
	font-size: 1.4rem;
	color: var(--gray-60);
	height: 3.6rem;
  }
  .dashboard-calendar .schedule-detail {
	background: var(--gray-5);
	border-radius: 1.2rem;
	margin-top: 3rem;
	overflow: hidden;
  }
  .dashboard-calendar .schedule-detail .btn-schedule {
	width: 100%;
	text-align: center;
	color: var(--gray-40);
	font-size: 1.4rem;
	padding: 2rem;
	transition: 0.2s;
  }
  .dashboard-calendar .schedule-detail .btn-schedule:hover {
	background-color: var(--gray-10);
	color: var(--gray-90);
  }
  .dashboard-calendar .schedule-detail .btn-schedule i {
	transition: 0.2s;
	display: inline-block;
  }
  .dashboard-calendar .schedule-detail.active {
	padding: 0 2rem 2rem;
  }
  .dashboard-calendar .schedule-detail.active .schedule-item {
	opacity: 1;
	visibility: visible;
	height: auto;
	padding-top: 4rem;
	padding-bottom: 4rem;
	border: 1px solid var(--gray-10);
  }
  .dashboard-calendar .schedule-detail.active .schedule-item ~ .schedule-item {
	margin-top: 2rem;
  }
  .dashboard-calendar .schedule-detail.active .btn-schedule i {
	transform: rotate(180deg);
  }
  .dashboard-calendar .schedule-detail.active .btn-schedule:hover {
	background: var(--gray-5);
  }
  .dashboard-calendar .schedule-detail .schedule-item {
	opacity: 0;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	transition: 0.2s ease;
	background: var(--white) !important;
	border-radius: 1.2rem;
	padding: 0 4rem;
  }
  .dashboard-calendar .schedule-detail .schedule-item[class*=schedule-] {
	color: inherit;
  }
  .dashboard-calendar .schedule-detail .schedule-item.schedule-1 .date {
	background-color: var(--gray-5);
	color: var(--gray-60);
  }
  .dashboard-calendar .schedule-detail .schedule-item.schedule-1 .amount b {
	color: var(--gray-60);
  }
  .dashboard-calendar .schedule-detail .schedule-item.schedule-2 .date {
	background-color: var(--primary-5);
	color: var(--primary-50);
  }
  .dashboard-calendar .schedule-detail .schedule-item.schedule-2 .amount b {
	color: var(--primary-50);
  }
  .dashboard-calendar .schedule-detail .schedule-item.schedule-3 .date {
	background-color: var(--secondary-5);
	color: var(--secondary-60);
  }
  .dashboard-calendar .schedule-detail .schedule-item.schedule-3 .amount b {
	color: var(--secondary-60);
  }
  .dashboard-calendar .schedule-detail .schedule-item.schedule-4 .date {
	background-color: var(--point-5);
	color: var(--point-30);
  }
  .dashboard-calendar .schedule-detail .schedule-item.schedule-4 .amount b {
	color: var(--point-30);
  }
  .dashboard-calendar .schedule-detail .schedule-item.schedule-5 .date {
	background-color: #FFF8F1;
	color: #E88019;
  }
  .dashboard-calendar .schedule-detail .schedule-item.schedule-5 .amount b {
	color: #E88019;
  }
  .dashboard-calendar .schedule-detail .schedule-item .schedule-info {
	position: relative;
  }
  .dashboard-calendar .schedule-detail .schedule-item .schedule-info .date {
	display: block;
	padding: 0.5rem 0.8rem;
	font-size: 1.5rem;
	border-radius: 0.4rem;
	margin-bottom: 2rem;
	width: fit-content;
  }
  .dashboard-calendar .schedule-detail .schedule-item .schedule-info .date b {
	color: inherit;
  }
  .dashboard-calendar .schedule-detail .schedule-item .schedule-info .title {
	font-size: 1.8rem;
	color: var(--gray-90);
	display: block;
	margin-bottom: 0.5rem;
  }
  .dashboard-calendar .schedule-detail .schedule-item .schedule-info .orderer {
	display: block;
	font-size: 1.3rem;
	border-radius: 0.4rem;
	background: var(--gray-5);
	padding: 0.5rem 0.8rem;
	width: fit-content;
  }
  .dashboard-calendar .schedule-detail .schedule-item .schedule-info .amount {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1rem 0;
  }
  .dashboard-calendar .schedule-detail .schedule-item .schedule-cont {
	color: var(--gray-60);
	font-size: 1.5rem;
	padding-top: 2rem;
	margin-top: 2rem;
	border-top: 1px dashed var(--gray-15);
  }
  
  .project-ranking {
	padding-top: 4rem;
	padding-bottom: 3rem;
  }
  .project-ranking .tabs {
	position: relative;
  }
  .project-ranking .tabs .depth4 {
	border: 0;
	border-top: 1px solid var(--gray-10);
  }
  .project-ranking .tabs .depth4 > li > button {
	font-size: 1.8rem;
	padding: 2.3rem 3.5rem;
	border-bottom-width: 0.3rem;
  }
  .project-ranking .tabs > ul {
	display: block;
  }
  .project-ranking .tabs .tab-nav1 button,
  .project-ranking .tabs .tab-nav2 button {
	position: absolute;
	right: 0;
	top: -7rem;
	width: 7rem;
  }
  .project-ranking .tabs .tab-nav1 button {
	right: 7rem;
  }
  .project-ranking .tabs .tab-cont {
	display: none;
	left: 0;
	width: 100%;
  }
  .project-ranking .tabs .active .tab-cont {
	display: block;
  }
  .project-ranking .tabs .more {
	background: var(--gray-5);
	border-radius: 0.8rem;
	padding: 1.2rem 0;
	font-size: 1.4rem;
	color: var(--gray-40);
	font-weight: 500;
	display: block;
	text-align: center;
	transition: 0.2s;
  }
  .project-ranking .tabs .more:hover {
	background: var(--gray-10);
  }
  .project-ranking .project-orderer {
	display: flex;
	gap: 0.6rem;
	margin-bottom: 0.8rem;
  }
  .project-ranking .project-orderer .orderer {
	font-size: 1.3rem;
	color: var(--gray-60);
	background: var(--gray-5);
	border-radius: 0.4rem;
	padding: 0.4rem 0.6rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .project-ranking .project-orderer .date {
	font-size: 1.3rem;
	border-radius: 0.4rem;
	border: 1px solid;
	padding: 0.4rem 0.6rem;
	font-weight: 600;
  }
  .project-ranking .project-orderer .date.end {
	border-color: #FF5555;
	color: #FF5555;
  }
  .project-ranking .project-orderer .date.new {
	border-color: var(--primary);
	color: var(--primary);
  }
  .project-ranking .project-date {
	position: absolute;
	right: 0;
	top: 50%;
	translate: 0 -50%;
	display: flex;
	gap: 0.5rem;
	align-items: center;
  }
  .project-ranking .project-date b {
	font-size: 2rem;
	color: var(--primary);
  }
  .project-ranking .project-date small {
	font-size: 1.7rem;
	color: var(--gray-80);
  }
  .project-ranking .list {
	display: block;
  }
  .project-ranking .list li {
	border-bottom: 1px solid var(--gray-5);
	position: relative;
  }
  .project-ranking .list li a {
	display: block;
	width: calc(100% + 8rem);
	margin: 0 -4rem;
	padding: 2rem 4rem;
	text-align: left;
	border-radius: 1.2rem;
	border: 2px solid transparent;
	transition: 0.2s;
  }
  .project-ranking .list li a:hover {
	border-color: #00062C;
  }
  .project-ranking .list li a:has(.project-date) {
	padding-right: 12rem;
  }
  .project-ranking .subject {
	font-size: 1.6rem;
	color: var(--gray-90);
	font-size: 1.6rem;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-box-orient: vertical;
	margin-bottom: 2rem;
	line-height: 1.4;
  }
  .project-ranking .term {
	display: block;
	font-size: 1.3rem;
	color: var(--gray-40);
  }
  
  .customer-percent {
	padding: 0;
	position: relative;
  }
  .customer-percent .heading-m {
	position: absolute;
	left: 3rem;
	top: 3rem;
	z-index: 1;
  }
  .customer-percent .graph-area {
	height: 44rem;
  }
  
  .connect-link .cont {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
  }
  .connect-link .link-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 1 11.2rem;
	min-width: 10.5rem;
	border: 1px solid var(--gray-10);
	border-radius: 0.8rem;
	padding: 2rem 0;
	transition: 0.2s;
  }
  .connect-link .link-item:hover {
	background: var(--gray-5);
  }
  