@import "../mixin";

.tabs { position: relative; 
	/* ul { display: flex; }
	a, button { width: 100%; @include flex(.3rem, center, center); font-size: 1.8rem; text-align: center; padding: 2.3rem 3.5rem; position: relative; line-height: 1.2;
		&:hover { text-decoration: none; transition: .2s;}		
	}
	li.active {		
		a, button { font-weight: 700; }
	}	 */
	.depth4 {  display: flex; border-bottom: 1px solid var(--gray-15);
		>li { 
			>a, >button {width: 100%; @include flex(.3rem, center, center); font-size: 1.6rem; text-align: center; padding: .7rem 2rem;  border-bottom: .3rem solid transparent; margin-bottom: -1px; color: var(--gray-40);
				&:hover { text-decoration: none; transition: .2s; border-bottom-color: var(--gray-30);}
			}
			&.active {
				>a, >button { border-bottom:.2rem solid var(--primary-50); color: var(--primary-50); font-weight: 700;}
				.depth5 { display: flex;}
				&:has(.depth5) {padding-bottom: 7rem;}
			}
			
		}
	}	
	.depth5 { display: none; position: absolute; left: 0; bottom: 0; width:100%;	gap:1rem; justify-content: center; padding: 2rem 0; border-top:1px solid var(--gray-15); 
		>li { 
			a, button { background-color: var(--gray-5); color: var(--gray-90); border-radius: 3rem; font-size: 1.8rem; font-weight: 600; padding: 1.2rem 2rem; transition: 0.2s;
				&:hover { background-color: var(--gray-10); }
			}
			
			&.active { 
				a, button { background: var(--primary-60); color: var(--white); }
			}
			~ li { margin-left: -1px; }
		}
	}
}

