@import "../mixin";

//툴팁
.tooltip { font-size: 2rem; color: var(--primary); position: absolute; right: 1rem; cursor:pointer;
	span { @include inactive(.2s); overflow: visible; height:auto; font-size: 1.4rem; color: var(--gray-70); border: 1px solid var(--primary); text-align: left; background: var(--white); position: absolute; top: 50%; right: 100%; transform:translateY(-50%);  white-space: nowrap; padding: .5rem 0;
		&::before { content: ''; display: block; width: .6rem; height: .6rem; background: var(--white); border:solid var(--primary); border-width: 1px 1px 0 0; transform:translateY(-50%) rotate(45deg); position: absolute;top:50%; left: calc(100% - 0.2rem);}
	}
	&:hover { 
		span { @include active; padding: 0.5rem 1rem; right: calc(100% + .4rem);}
	}

	&.warning {padding-right: 1rem; position: relative; padding: 0.8rem; border-radius: 0.8rem; font-size: 1.5rem; right:auto;
		&:hover { background: #FF555514;}
		&::after { content: ''; position: absolute; right: 0; top: 0; @include circle(.4rem, var(--point-30));}
		span{ color: inherit;}
		&:hover span,
		span::before { border-color: var(--point-30);}
		&.ic-cal::before { color:inherit;}
	}	

	&-fixed { @include pos(lt,0,-12.1rem); padding: .5rem 1.5rem; font-size: 1.4rem; border: 1px solid var(--point-30); border-radius: 0.4rem; width: 100%; background: var(--white); 
		.title { font-size: 1.6rem; @include ellipsis;
			i { margin-right: 0.5rem; font-weight: 400; }
		}
	}
	
}



