@import "mixin";

/* ==========================================================================================
//button
============================================================================================*/

.btn-area { @include flex(1rem, center, center); position: relative;
	&.both { justify-content: space-between;}
	&.col { flex-direction: column; margin: 0;}		
}

.btn { @include flex(.4rem, center, center, inline); border-radius: 0.8rem; padding: .8rem 2rem; height: 4.8rem; /* min-width:12rem; */ transition: .25s; background: var(--white); color: var(--gray-90); border:1px solid var(--gray-20);
	&:hover { border-color: var(--gray-50); background-color: var(--gray-10); text-decoration: none;}

	//text
	&-txt { background: none; border: 0; padding: 0 .2rem; min-width:initial;
		@include hover;
		&::after{margin-left: 0;}
	}	

	&[class*=ic-]::before { margin-right: 0;}

	//text + icon
	&[class*=ico-] { 
		&::before,
		&::after { width: 1.8rem; height: 1.8rem;}	
	}

	//only icon
	&-ico { border: 0; background: none; height: auto; min-width:inherit; padding-left:1rem; padding-right: 1rem;
		&::after{margin-left: 0;}
	}

	//size
	&.xsm { height: 2.4rem; font-size: 1.4rem; padding:.4rem .6rem; gap: .2rem; border-radius: 0.4rem;
		&::before,
		&::after { width: 1.6rem; height: 1.6rem;}	
	}	
	&.sm { height: 3.4rem; font-size: 1.5rem; padding:.4rem .8rem; gap: 1rem; border-radius: 0.4rem;
		&::before,
		&::after { width: 1.6rem; height: 1.6rem;}
	}	
	&.md { height: 4.8rem; font-size: 1.7rem; 
		
	}
	&.lg { height: 5.6rem; font-size: 1.9rem;}
	&.xlg { height: 6.4rem; font-size: 1.9rem; }
	
	//type
	&.primary { background:var(--primary); color: var(--white); border-color:transparent; 
		&:hover { border-color: var(--primary-60); background-color: var(--primary-60); }
		&:active { border-color: var(--primary-70); background-color: var(--primary-70);}
	}
	&.secondary { background:var(--primary-5); color: var(--primary-60) ;border-color:var(--primary); 
		&:hover { background-color: var(--primary-10); }
		&:active { background-color: var(--primary-20); }
	}			
	&.tertiary { background: var(--secondary-80); color: var(--white); border-color:transparent; 
		&:hover,
		&:active { background-color: var(--secondary-90); }
	}	

	//radio버튼
	&-label {
		input[type='radio']{ position: absolute; opacity: 0;
			&:checked + label,
			&:focus + label { background:var(--primary); color: var(--white); border-color:transparent; }
			&:focus + label { outline: 2px dotted var(--white); outline-offset: -2px; }
		}
		label { cursor:pointer; }
	}

	&-save { background: var(--secondary-80); border-color:transparent!important; color: var(--white); transition: 0.2s;
		&:hover { background-color: var(--secondary-90); }
	}

	&-toggle { font-size: 1.6rem; @include flex(1rem, center, $fd:inline); 
		&.active { 
			.toggle {filter: grayscale(0); }
			.toggle-circle { left: calc(100% - 18px);}
		}
		.toggle {position: relative; display: block; width: 36px; height: 20px;  background-color: var(--primary-5); border-radius: 20px; cursor: pointer; filter: grayscale(1); transition: 0.2s ease;
		
			&-circle { position: absolute; top: 50%; left: 2px; width: 16px; height: 16px; background-color: #4CAF50; border-radius: 50%; transform: translateY(-50%);  transition: 0.3s ease;}	
		}
	}
}

@include media($mobile) {	
	.btn-area { justify-content: center;}
}