@import "mixin";

/* =======================================================================================
popup-wrap
======================================================================================= */
.popup-wrap { display: none; position: fixed; left: 0; top: 0; right:0; bottom:0; z-index: 10;  padding: 1rem; overflow-y: auto; background: rgba(0,0,0,.3);	
	.popup { background: var(--white); border-radius: 2rem 0 0 2rem; @include flex($fd:column); max-width: 136rem; width:100%; padding: 4rem; position: fixed; top:0; bottom: 0; right:0; transform:translateX(100%); overflow: hidden; transition:.2s .2s; /* @include flex($fd:column); display: none; width: 100%; height: 100%; padding: 4rem; position: relative; */
		&-head { @include flex(2rem, center); margin-bottom: 4rem; padding: 0; position: relative; transition: 0.2s;
			.popup-back { opacity: 0; visibility:hidden; font-size: 4rem; font-weight: 400; position: absolute; left: 0; top: -.5rem; z-index: 1; transition: 0.2s;}
			.pop-tit { font-size: 2.5rem; }
		}
		&-tab { width: 100%;
			.depth4 { padding: 0 2rem; border: 0; justify-content: center;
				> li { flex: 0 0 20rem;
					>a, >button { font-size: 2rem; text-align: center; padding: 2.3rem 3.5rem;border-bottom: .3rem solid transparent; }
				}
			}
		}
		&-body { flex:1; width:100%; max-height: 100%; overflow-y: auto; @include scrollbar(var(--gray-60), var(--gray-30), $size: .6rem);  border:1px solid var(--gray-15); padding: 4rem 3rem 30rem; border-radius: 2rem;
			&::-webkit-scrollbar { height:.6rem}
		}
		&-util { position: absolute; top: 4rem;right: 4rem;  @include flex(1rem, center);
			.popup-print {width: 4rem; height: 4rem;border-radius: 50%;@include flex(null, center, center); background: var(--gray-5); font-size: 2.2rem; @include hover(var(--gray-10));}
			.popup-close { font-size: 4rem; transition: 0.2s;
				&:hover { transform:rotate(180deg)}
			}
		}
		&.popup-side { 
			.popup-head { padding-left: 4.5rem; 
				.popup-back { opacity: 1; visibility:visible; }
			}
			.popup-close { display: none;}
		} 
		&.opened-layer { transform:translateX(0);}
	}
	 
	
}

/* =======================================================================================
layout 공통
======================================================================================= */
html {
	//gnb열렸을때
	&.active { 		
		&::after { content: ''; display: block; width: 200%; height: 100vh; background: rgba(0, 0, 0, .5); position: fixed;left: 50%;top: 0; transform: translateX(-50%); z-index: 0; }
	}
	&.scroll-no { 
		overflow: hidden; padding-right: 1.8rem;
	} 
	@include scrollbar;
}

#wrap { padding: 2rem; background: #01072D; }


/* =======================================================================================
contentWrap = #sideNav + #content
======================================================================================= */
#container {  @include flex; }

%caret {	
	>a::after { content: "\ea4e"; font-family: var(--icon); line-height: 1; transition: .2s; }
	&:hover>a::after,
	&.active>a::after { rotate: 180deg; }
} 

/* =======================================================================================
sideNav
======================================================================================= */

$snbW: 26rem;
.member-area { padding-right: 2rem; padding-left: 1rem; 
	.member { @include flex(2.4rem, center, center, column); border-bottom: 1px solid rgba(255, 255, 255, 0.10); padding: 3rem 0; }
	.photo { @include circle(6rem); overflow: hidden;}
	.name { color: var(--white); font-weight: 600;
		.role { color: rgba(255,255,255,.5);  margin-left: .6rem;}
	}
	.info { @include flex(.7rem, center, $fd:column);
		.info-dept { font-size: 1.4rem; font-weight: 500; @include flex(.7rem);
			.dept { color: #F2B8AB;}
			.team { color: var(--white); @include vbar(.3rem, .3rem, rgba(255,255,255, .5), .7rem);}
		}
	}
	.btn-area { height: 3.4rem; display: flex; gap:.4rem; flex-wrap:nowrap;}
	.btn{width: 8.4rem;
		&.mypage { background: transparent; border: 1px solid rgba(255,255,255, .2); color: var(--white); line-height: normal;
			&:hover { background: rgba(255,255,255, .2); border-color: transparent;}
		}
		&.logout { background: var(--primary); color: var(--white); border-color:transparent;
			&:hover { background: var(--primary-60); border-color: transparent;}
		}
	}
}
.left-menu { flex: 0 0 $snbW; @include flex(2rem, $fd: column); position: relative; z-index: 1; overflow: hidden; transition: 0.25s;
	&::after { content: ''; width: 35.5rem; height: 35.5rem; background: var(--primary-30); opacity: 0.3; filter: blur(10rem); position: absolute; 
		right: -26.5rem;bottom: 11.5rem; z-index: -1;}
	.logo { padding: 2.2rem 2rem 1rem; height: 6rem;
		img { width: 10rem; height: 2.8rem;}
	}
	.title {  color: var(--white); margin-bottom: 5rem; }
	.snb-list { 
		> ul { 
			> li { position: relative;
				&::before, &::after { content: ''; display: block; width: 3.2rem; height: 3.2rem; position: absolute; right: -3.2rem; opacity: 0; visibility: hidden; }
				&::before { bottom: 100%; background: radial-gradient(circle at 0 0, #01072D00 70%, var(--gray-5) 72%); }
				&::after { top: 6.4rem; background: radial-gradient(circle at 0 100%, #01072D00 70%, var(--gray-5) 72%);}
				~ li > a::before { content: ''; display: block; position: absolute; top: 0; width: calc(100% - 3.2rem); }
				>a { display: flex; align-items:center; gap: 1rem; padding: 1.8rem 2.6rem; font-size: 1.7rem; line-height: normal; letter-spacing: -1px; position: relative; color: rgba(#fff, .7); 
					i { color:rgba(255,255,255, .3); font-size: 2rem; width: 2.8rem; height: 2.8rem;  @include flex(null, center, center);}
					span {transition: 0.2s; white-space: nowrap;}
					&:hover { color: var(--white);}
				}				
				&.active { 
					&::before, &::after { opacity: 1; visibility: visible; right: 0; }
					>a { background: var(--gray-5); font-weight: 700; color: var(--black); border-radius: 3rem 0 0 3rem;
						i { color: var(--primary);}
						&::before { display: none;}
					}
					>ul { @include active; padding-top: 1.6rem; padding-bottom: 1.6rem; }
					+ li>a::before { display: none;}
				}
				&.is-depth3 { @extend %caret; }

				>ul { display:block; padding-left:3.2rem; padding-right: 3.2rem; @include inactive(.3s);
		
					>li {
						&.active { //04B87F
							>a { color: var(--primary-30); font-weight: 700; background: rgba(4, 184, 127, 0.20);
								&::before { background: var(--primary-30);}
								span {
									&::after { opacity: 0.15; }
								}
							}
						}
						>a { display: block; position: relative; font-size: 1.5rem; color:  var(--gray-10); border-radius: .8rem; padding: 0.4rem 2.6rem;  min-width: 15rem; transition: 0.2s;
							&::before{ content: ''; display: block; width: 0.4rem; height: 0.4rem; background: var(--gray-10); border-radius: 50%; position: absolute; left:1.3rem; top:1.3rem; }
							span { position: relative;
								&::after { content: ''; width: 100%; height: 0.8rem; background: #192e93; position: absolute; left: 0; bottom: 0; opacity: 0; }
							}
							&:hover { background: rgba(4, 184, 127, 0.10);}
						}
					}
				}
			}
		}		
	}
	.snb-close { position: absolute;right: 0; top: 7rem; color: var(--white); width: 4.2rem; height: 5rem;
		padding: 1rem; @include flex(null, center, center); border-radius: 8px 0px 0px 8px; background: rgba(255, 255, 255, 0.20); transform:translateX(.2rem); transition: 0.2s;
		&::after { content: ''; display: block; width: 1rem; height: 1.9rem; background: url(#{$url}/layout/snb_close.png) no-repeat center/contain; transition: 0.2s;}
		&:hover {transform:translateX(0); background: rgba(255, 255, 255, 0.30);}
	}
	
	//메뉴 줄어들게
	&.active {flex-basis: 6.4rem; overflow: visible; transition: .2s;
		&::after { display: none;}
		.snb-head { height: 16rem;
			.logo,
			.member-area {display: none; }
		}
		.snb-list > ul > li { 			
			> ul { display: none; position: absolute; opacity: 0; top: .5rem; left: 90%; padding: 5rem 1.2rem 1.2rem; border-radius: 12px; 
				background: var(--white); box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.10); }
			> a { padding-left: 2.2rem; 			
				&::after { display: none;}				
				span { position: absolute; top:1.5rem; left: 90%; z-index: 1; opacity: 0; visibility:hidden; color: var(--gray-60); font-size: 1.4rem;	border-radius: 1.2rem; background: var(--white); width: fit-content;
					box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.10); display: none; padding: 0.8rem 1.4rem; transition: 0.2s;}
				&:hover span { display: block; opacity: 1; visibility:visible; }				
			}
			&::before,
			&::after { width: 1.2rem; height: 1.2rem; right: 0;}
			&::before { background: radial-gradient(circle at 0 0, #00000000 65%, var(--gray-5) 71%);}
			&::after { background: radial-gradient(circle at 0 100%, #00000000 65%, var(--gray-5) 71%);}

			&.active { 
				> a { border-radius: 1rem 0 0 1rem; font-weight: 400;
					span { display: none;}
					&:has(+ul) span{ background: none; box-shadow:none; }
				}				
				> ul { display: none;
					li {
						a { color:var(--gray-80); 
							&::before { background: var(--gray-20);}
						}
						&.active a { background: var(--primary-5);}
					}
				}
				&:hover {
					> a span,
					> ul { opacity: 1; visibility:visible; display: block; }
				}
			}
		}
		.snb-close:after { transform: rotateY(180deg)}
	}
} 
/* =======================================================================================
content 공통
======================================================================================= */
.user-group { display: flex; align-items: center; justify-content: flex-end;
	.user-icon { margin-left: -3px;margin-right: 0; }
	.user-sum { font-size: 1.6rem; color:var(--gray-70); margin-left: 12px; white-space: nowrap;}
}
.user { @include flex(.3rem, center); color: var(--gray-70); font-size: 1.5rem;}
.user-icon { background: white;  border-radius: 2rem; box-shadow: rgba(15, 15, 15, 0.1) 0px 2px 4px; outline: rgba(0, 0, 0, 0.3) solid 0.5px;  width: 2rem; height: 2rem; font-size: 1.1rem; color: var(--gray-90); line-height:normal;  @include flex(null, center, center, inline); vertical-align: middle; position: relative; margin-right: 3px;
	img { object-fit: cover; border-radius: 100%; width: 100%; height: 100%; }
}
.contents { flex: 1; min-width:1%; display: flex; flex-direction: column; background: var(--gray-5);  padding: 3rem; border-radius: 2rem; min-height: calc(100vh - 4rem);

	
	.content-iframe { background: var(--white);  height: 100%; @include scrollbar; border-radius: 0 2rem 2rem 2rem; padding: 3rem 1.5rem 3rem 0; }	
	
}
.page-contents { color: var(--fontColor); background: var(--white);  position: relative; margin-right: 1.5rem; padding-left: 3rem;
	
	.page-title-wrap { position: relative; border-bottom: 1px solid var(--gray-30);  margin-bottom: 4rem; }	
	.page-title { height: 4rem; font-size: 2.4rem; color: var(--gray-90); white-space:nowrap; margin-bottom: 2rem;}
	

	.print-btn { width: 4rem; height: 4rem; font-size: 2rem; @include pos(rt, 0, 0); z-index: 30; border-radius: .8rem; background: var(--white); border: 1px solid var(--gray-15); @include hover;}
}

/* =======================================================================================
footer
======================================================================================= */
.footer { text-align: center; padding: 2rem; color: var(--gray-35); font-size: 1.4rem; letter-spacing: normal; border-radius: 0 0 2rem 2rem; background: var(--white); margin-top: 10rem;}

/* =======================================================================================
반응형
======================================================================================= */
@include media($web) {
	#wrap { padding: 1rem;}
	.contents { padding: 1.5rem; min-height: calc(100vh - 2rem);}
	.contents .content-iframe { padding-top: 2rem; padding-bottom: 2rem;}
	.page-contents { padding-left: 2rem;}
}
@include media($pad) {
	
}

@include media($mobile) {
	
}
/* ===========================================================================================
print style
=========================================================================================== */
@page { size: A4 landscape;}
@media print {	
	.print-btn,
	.btn-row-add,
	.footer,
	.popup-util { display: none!important; }
	.popup-wrap { background:var(--white);}
	.popup-wrap .popup {padding: 2rem;}
	.scroll > table,
	.table.horizontal > table {min-width: inherit!important;}
}
