.page-title-area .page-title-wrap {
	position: relative;
	display: flex;
	gap: 1.4rem;
  }
  .page-title-area .page-title {
	height: 4rem;
	font-size: 2.4rem;
	color: var(--gray-90);
	white-space: nowrap;
  }
  .page-title-area .print-btn {
	width: 4rem;
	height: 4rem;
	font-size: 2rem;
	position: absolute;
	right: 2rem;
	top: 3rem;
	z-index: 9;
	border-radius: 0.8rem;
	background: var(--white);
	border: 1px solid var(--gray-15);
	transition: 0.2s;
  }
  .page-title-area .print-btn:hover {
	background-color: var(--gray-5);
	color: var(--gray-90);
  }
  .page-title-bar .filter {
    display: flex;
    gap: 0.6rem;
    margin-bottom: 0;
    height: 4rem;
}