@charset "UTF-8";
/* =======================================================================================
공통
======================================================================================= */
b {
  color: var(--gray-90);
}

.box-flex-wrap {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.box-flex-wrap .box ~ .box {
  margin-top: 0;
}

.box {
  border: 1px solid var(--gray-10);
  border-radius: 1.2rem;
  background: var(--white);
  padding: 4rem;
  position: relative;
}

.point,
.warning {
  color: var(--point-30) !important;
}

.amount .desc,
.amount-area .desc {
  font-size: 1.3rem;
  color: var(--gray-60);
  background: var(--gray-5);
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
}

.disable {
  background: var(--gray-10);
  color: var(--gray-35);
  padding: 0.8rem;
  border-radius: 0.8rem;
}

.page-title-bar {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  margin-bottom: 2rem;
}
.page-title-bar .page-title,
.page-title-bar .heading-m {
  margin-bottom: 0;
}
.page-title-bar .filter {
  display: flex;
  gap: 0.6rem;
  margin-bottom: 0;
  height: 4rem;
}
.page-title-bar .filter-item {
  display: inline-flex;
  align-items: center;
  padding: 0 1.2rem;
  border-radius: 2rem;
  margin: 0;
}
.page-title-bar .filter-item:hover .item-add {
  border: 0;
}
.page-title-bar .filter-item .item-add {
  border-radius: 2rem;
}
.page-title-bar .filter-item > .item-cont {
  padding: 0;
  height: 100%;
  color: var(--gray-90);
  cursor: pointer;
}
.page-title-bar .filter-item > .item-cont::before {
  font-family: "remixicon";
  color: var(--gray-35);
  font-size: 1.6rem;
}
.page-title-bar .filter-item > .item-cont::after {
  content: "\ea4e";
  display: block;
  font-family: "remixicon";
  color: var(--gray-35);
  font-size: 1.6rem;
}
.page-title-bar .filter-item > .item-cont > .item {
  padding: 0;
  background: transparent;
}
.page-title-bar .filter-item > .item-cont > .item.selected {
  border: 0;
}
.page-title-bar .filter-item > .item-cont .item + .item-basic {
  display: none;
}
.page-title-bar .filter-item > .item-cont input {
  cursor: pointer;
}
.page-title-bar .filter-item:has(.item-cont:focus) {
  border-color: var(--primary-30);
}
.page-title-bar .filter-item .item-layer {
  width: 37rem;
}
.page-title-bar .filter-item.dept-item > .item-cont::before {
  content: "\efb8";
}
.page-title-bar .filter-item.admin-item > .item-cont::before {
  content: "\f264";
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-35);
}
.page-title-bar .filter-item.date-item {
  padding: 0;
}
.page-title-bar .filter-item.date-item > .item-cont::before {
  position: absolute;
  left: 1rem;
  top: 50%;
  translate: 0 -50%;
}
.page-title-bar .filter-item.date-item > .item-cont::after {
  position: absolute;
  right: 1rem;
  top: 50%;
  translate: 0 -50%;
}
.page-title-bar .filter-item.date-item .form-control {
  width: auto; /* height: 100%; */
  background: transparent;
  padding: 0.9rem 3.5rem;
  border-radius: 2rem;
}


.btn-cell-set {
  color: var(--gray-60);
  font-size: 1.5rem;
  padding: 0.7rem 0.8rem;
  border-radius: 0.4rem;
  transition: 0.2s;
}
.btn-cell-set:hover {
  background-color: var(--gray-5);
  color: var(--gray-90);
}

.cell-view-set {
  margin-left: auto;
}
.cell-view-set .btn-reset {
  color: var(--gray-40);
  font-size: 1.5rem;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  padding: 0.4rem;
  border-radius: 0.4rem;
  transition: 0.2s;
}
.cell-view-set .btn-reset:hover {
  background-color: var(--gray-5);
  color: var(--gray-90);
}
.cell-view-set .btn-reset i {
  font-size: 1.6rem;
}
.cell-view-set .item-layer {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  padding: 0;
}
.cell-view-set .item-layer .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
  color: #333;
}
.cell-view-set.active .item-layer {
  opacity: 1;
  visibility: visible;
}
.cell-view-set .cont {
  flex-direction: column;
  align-items: flex-start;
}
.cell-view-set .cont .stitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid var(--gray-10);
  padding: 1rem 1.6rem;
}
.cell-view-set .cont .stitle strong {
  font-size: 1.7rem;
  color: var(--gray-60);
  font-weight: 500;
}
.cell-view-set .cont .stitle button {
  font-size: 1.5rem;
  color: var(--gray-40);
  padding: 0.4rem;
  border-radius: 0.4rem;
  transition: 0.2s;
}
.cell-view-set .cont .stitle button:hover {
  background-color: var(--gray-5);
  color: var(--gray-90);
}
.cell-view-set .cont .scont {
  padding: 1rem 1.6rem;
}
.cell-view-set .cell-item {
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  text-align: left;
  position: relative;
  color: var(--gray-80);
  cursor: pointer;
}
.cell-view-set .cell-item input {
  display: none;
}
.cell-view-set .cell-item::after {
  content: "\ecb5";
  font-family: "remixicon";
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: var(--gray-60);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  transition: 0.2s;
}
.cell-view-set .cell-item:hover::after {
  background: var(--gray-10);
  color: var(--gray-90);
}
.cell-view-set .cell-item.off::after {
  content: "\ecb7";
}
.cell-view-set .cell-item:has([data-col="0"]) {
  display: none;
}

.term-date.ic-cal::before,
.input-date.ic-cal::before {
  margin-right: 0;
}
.term-date.ic-cal .form-control,
.input-date.ic-cal .form-control { /* padding: 1rem; */
  border: 0;
}

/* =======================================================================================
01.대시보드 
======================================================================================= */
.announce-list {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}
.announce-list i {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  min-width: 4rem;
  background-color: var(--gray-5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #7C7F91;
  font-size: 2.2rem;
}
.announce-list b {
  font-size: 1.6rem;
  color: var(--gray-90);
}
.announce-list a {
  position: relative;
  padding-left: 1rem;
  color: var(--gray-70);
}
.announce-list a::before {
  content: "";
  background-color: var(--gray-20);
  width: 1px;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
}
.announce-list a:hover {
  text-decoration: underline;
}

.dept-target {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}
.dept-target .btn-dept-select {
  border-radius: 2rem;
  border: 1px solid var(--gray-15);
  padding: 1rem 1rem 1rem 1.6rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: 0.2s;
}
.dept-target .btn-dept-select:hover {
  background-color: var(--gray-5);
  color: var(--gray-90);
}
.dept-target .btn-dept-select::after {
  content: "\ea4e";
  display: block;
  font-family: "remixicon";
  color: var(--gray-35);
  font-size: 1.6rem;
}
.dept-target .target-slogan {
  font-size: 2rem;
  color: var(--gray-90);
}

.chart-div {
  width: 100%;
  height: 100%;
}

.dashboard-colgroup {
  display: flex;
  gap: 4rem;
}
.dashboard-colgroup .col-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}
.dashboard-colgroup .col-sub {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 44rem;
}
.dashboard-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--gray-5);
  padding: 4rem;
  border-radius: 1.2rem;
}
.dashboard-main .box {
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
}
.dashboard-main .sales-stats {
  display: flex;
  gap: 10rem;
}
.dashboard-main .sales-stats .heading-m {
  margin: 0;
}
.dashboard-main .sales-stats > .sales {
  flex: 1;
}
.dashboard-main .sales-stats > .income {
  flex: 1;
}
.dashboard-main .sales-stats small {
  font-size: 1.7rem;
  color: var(--gray-80);
}
.dashboard-main .sales-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-main .sales-total .amount b {
  font-size: 2.4rem;
  color: var(--secondary-60);
}
.dashboard-main .income-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-main .income-total .amount b {
  font-size: 2.4rem;
  color: var(--primary);
}
.dashboard-main .sub-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  border-top: 1px solid var(--gray-10);
  margin-top: 1rem;
}
.dashboard-main .sub-item .title {
  font-size: 1.5rem;
}
.dashboard-main .sub-item .amount b {
  font-size: 1.8rem;
  color: var(--gray-90);
}
.dashboard-main .member-stats {
  position: relative;
}
.dashboard-main .member-stats .heading-m small {
  background: var(--gray-5);
  border-radius: 0.4rem;
  padding: 0.4rem 0.6rem;
  font-size: 1.4rem;
  color: var(--gray-60);
}
.dashboard-main .member-stats .prev-day {
  position: absolute;
  right: 4rem;
  top: 2.5rem;
  font-size: 1.5rem;
  color: var(--gray-40);
}
.dashboard-main .graph-area {
  height: 30rem;
  margin: 7rem 0 0;
  background: none;
}
.dashboard-calendar .calendar-legend {
  position: absolute;
  right: 16rem;
  top: 4rem;
}
.dashboard-calendar .calendar-legend .cell-item {
  padding-left: 2rem;
}
.dashboard-calendar .calendar-legend .cell-item::before {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: var(--black);
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  opacity: 0.5;
}
.dashboard-calendar .calendar-legend .cell-item:has([name=schedule-1])::before {
  background-color: var(--gray-60);
}
.dashboard-calendar .calendar-legend .cell-item:has([name=schedule-2])::before {
  background-color: var(--primary-50);
}
.dashboard-calendar .calendar-legend .cell-item:has([name=schedule-3])::before {
  background-color: var(--secondary-60);
}
.dashboard-calendar .calendar-legend .cell-item:has([name=schedule-4])::before {
  background-color: var(--point-30);
}
.dashboard-calendar .calendar-legend .cell-item:has([name=schedule-5])::before {
  background-color: #E88019;
}
.dashboard-calendar .fc .fc-daygrid .fc-scroller-harness,
.dashboard-calendar .fc .fc-daygrid .fc-scroller-liquid-absolute {
  overflow: visible !important;
}
.dashboard-calendar .fc .fc-scroller::-webkit-scrollbar-track {
  background-color: var(--gray-15);
}
.dashboard-calendar .fc .fc-scroller::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
.dashboard-calendar .fc .fc-scroller::-webkit-scrollbar-thumb {
  background-color: var(--gray-90);
}
.dashboard-calendar .fc .fc-header-toolbar {
  position: relative;
}
.dashboard-calendar .fc .fc-toolbar-title {
  background: var(--gray-5);
  border-radius: 0.4rem;
  padding: 0.4rem 0.6rem;
  font-size: 1.4rem;
  color: var(--gray-60);
}
.dashboard-calendar .fc .fc-toolbar-chunk:nth-child(2) {
  position: absolute;
  right: 0;
  top: -5.7rem;
}
.dashboard-calendar .fc .fc-toolbar-chunk:nth-child(2) .fc-button-group {
  background: var(--gray-10);
  border-radius: 10rem;
  padding: 0.4rem;
  display: flex;
  align-items: center;
}
.dashboard-calendar .fc .fc-toolbar-chunk:nth-child(2) .fc-button-group .fc-button {
  background: transparent;
  border: 0;
  color: var(--gray-35);
  padding: 0.6rem 2rem;
  border-radius: 10rem;
  transition: 0.2s;
}
.dashboard-calendar .fc .fc-toolbar-chunk:nth-child(2) .fc-button-group .fc-button:focus {
  box-shadow: none;
}
.dashboard-calendar .fc .fc-toolbar-chunk:nth-child(2) .fc-button-group .fc-button-active {
  background: var(--white);
  color: var(--primary);
}
.dashboard-calendar .fc .fc-toolbar-chunk:nth-child(2) .fc-timeGridDay-button {
  display: none;
}
.dashboard-calendar .fc .fc-toolbar-chunk .fc-prev-button,
.dashboard-calendar .fc .fc-toolbar-chunk .fc-next-button,
.dashboard-calendar .fc .fc-toolbar-chunk .fc-today-button {
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
  border-radius: 0.4rem !important;
  transition: 0.2s;
}
.dashboard-calendar .fc .fc-toolbar-chunk .fc-prev-button:hover,
.dashboard-calendar .fc .fc-toolbar-chunk .fc-next-button:hover,
.dashboard-calendar .fc .fc-toolbar-chunk .fc-today-button:hover {
  background: var(--gray-5) !important;
}
.dashboard-calendar .fc .fc-toolbar-chunk .fc-today-button {
  color: var(--black);
}
.dashboard-calendar .fc .fc-toolbar-chunk .fc-button {
  padding-left: 0.4em;
  padding-right: 0.4em;
}
.dashboard-calendar .fc .fc-toolbar-chunk .fc-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.dashboard-calendar .fc .fc-toolbar-chunk .fc-icon-chevron-left::before,
.dashboard-calendar .fc .fc-toolbar-chunk .fc-icon-chevron-right::before {
  color: var(--black);
  font-size: 2rem;
}
.dashboard-calendar .fc .fc-view-harness {
  overflow: visible;
}
.dashboard-calendar .fc .fc-view {
  margin-right: -1px;
}
.dashboard-calendar .fc .fc-day {
  font-size: 1.5rem;
  color: var(--gray-60);
  font-weight: 400;
}
.dashboard-calendar .fc .fc-day.fc-day-today {
  font-weight: 600;
  color: var(--gray-90);
}
.dashboard-calendar .fc .fc-daygrid-day.fc-day-today,
.dashboard-calendar .fc .fc-timegrid-col.fc-day-today {
  background-color: transparent;
}
.dashboard-calendar .fc .fc-daygrid-day.fc-day-today .fc-timegrid-col-frame,
.dashboard-calendar .fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-frame,
.dashboard-calendar .fc .fc-timegrid-col.fc-day-today .fc-timegrid-col-frame,
.dashboard-calendar .fc .fc-timegrid-col.fc-day-today .fc-daygrid-day-frame {
  background: var(--white);
  border-radius: 0.8rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.12);
}
.dashboard-calendar .fc .fc-direction-ltr .fc-timegrid-col-events {
  margin: 0;
}
.dashboard-calendar .fc .fc-event {
  padding: 0.7rem 1rem;
  border: 0;
  border-radius: 0.8rem;
  transition: 0.2s;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.dashboard-calendar .fc .fc-event .fc-event-main {
  height: auto;
}
.dashboard-calendar .fc .fc-event:hover,
.dashboard-calendar .fc .fc-event-main {
  color: inherit;
}
.dashboard-calendar .fc .fc-timegrid-event-harness-inset .fc-timegrid-event,
.dashboard-calendar .fc .fc-timegrid-event.fc-event-mirror, .dashboard-calendar .fc .fc-timegrid-more-link {
  box-shadow: none;
}
.dashboard-calendar .fc .fc-daygrid-event-dot {
  display: none;
}
.dashboard-calendar .fc .fc-timegrid-event {
  margin: 0.4rem 0.6rem;
}
.dashboard-calendar .fc .fc-daygrid-event {
  font-size: 1.3rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
  margin-top: 1px;
  margin-bottom: 1px;
  position: relative;
}
.dashboard-calendar .fc .fc-daygrid-event .fc-description {
  display: none;
}
.dashboard-calendar .fc .fc-daygrid-event:hover .fc-description {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  margin-top: 0;
  z-index: 99;
}
.dashboard-calendar .fc .schedule-1 {
  background-color: var(--gray-5);
  color: var(--gray-60) !important;
}
.dashboard-calendar .fc .schedule-1:hover {
  background: color-mix(in oklab, var(--gray-5), #000 2.5%);
}
.dashboard-calendar .fc .schedule-2 {
  background-color: var(--primary-5);
  color: var(--primary-50) !important;
}
.dashboard-calendar .fc .schedule-2:hover {
  background: color-mix(in oklab, var(--primary-5), #000 2.5%);
}
.dashboard-calendar .fc .schedule-3 {
  background-color: var(--secondary-5);
  color: var(--secondary-60) !important;
}
.dashboard-calendar .fc .schedule-3:hover {
  background: color-mix(in oklab, var(--secondary-5), #000 2.5%);
}
.dashboard-calendar .fc .schedule-4 {
  background-color: var(--point-5);
  color: var(--point-30) !important;
}
.dashboard-calendar .fc .schedule-4:hover {
  background: color-mix(in oklab, var(--point-5), #000 2.5%);
}
.dashboard-calendar .fc .schedule-5 {
  background-color: #FFF8F1;
  color: #E88019 !important;
}
.dashboard-calendar .fc .schedule-5:hover {
  background: color-mix(in oklab, #FFF8F1, #000 2.5%);
}
.dashboard-calendar .fc .fc-description {
  background: var(--white);
  color: var(--gray-60);
  font-size: 1.2rem;
  border-radius: 0.4rem;
  padding: 0.2rem 0.6rem;
  display: block;
  margin-top: 0.4rem;
}
.dashboard-calendar .fc.fc-theme-standard .fc-scrollgrid {
  border: 0;
}
.dashboard-calendar .fc.fc-theme-standard td, .dashboard-calendar .fc.fc-theme-standard th {
  border-color: var(--gray-10);
  border-top-color: #f5f5f8;
  border-bottom-color: #f5f5f8;
}
.dashboard-calendar .fc.fc-theme-standard .fc-timegrid-slot {
  font-size: 1.4rem;
  color: var(--gray-60);
  height: 3.6rem;
}
.dashboard-calendar .schedule-detail {
  background: var(--gray-5);
  border-radius: 1.2rem;
  margin-top: 3rem;
  overflow: hidden;
}
.dashboard-calendar .schedule-detail .btn-schedule {
  width: 100%;
  text-align: center;
  color: var(--gray-40);
  font-size: 1.4rem;
  padding: 2rem;
  transition: 0.2s;
}
.dashboard-calendar .schedule-detail .btn-schedule:hover {
  background-color: var(--gray-10);
  color: var(--gray-90);
}
.dashboard-calendar .schedule-detail .btn-schedule i {
  transition: 0.2s;
  display: inline-block;
}
.dashboard-calendar .schedule-detail.active {
  padding: 0 2rem 2rem;
}
.dashboard-calendar .schedule-detail.active .schedule-item {
  opacity: 1;
  visibility: visible;
  height: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border: 1px solid var(--gray-10);
}
.dashboard-calendar .schedule-detail.active .schedule-item ~ .schedule-item {
  margin-top: 2rem;
}
.dashboard-calendar .schedule-detail.active .btn-schedule i {
  transform: rotate(180deg);
}
.dashboard-calendar .schedule-detail.active .btn-schedule:hover {
  background: var(--gray-5);
}
.dashboard-calendar .schedule-detail .schedule-item {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: 0.2s ease;
  background: var(--white) !important;
  border-radius: 1.2rem;
  padding: 0 4rem;
}
.dashboard-calendar .schedule-detail .schedule-item[class*=schedule-] {
  color: inherit;
}
.dashboard-calendar .schedule-detail .schedule-item.schedule-1 .date {
  background-color: var(--gray-5);
  color: var(--gray-60);
}
.dashboard-calendar .schedule-detail .schedule-item.schedule-1 .amount b {
  color: var(--gray-60);
}
.dashboard-calendar .schedule-detail .schedule-item.schedule-2 .date {
  background-color: var(--primary-5);
  color: var(--primary-50);
}
.dashboard-calendar .schedule-detail .schedule-item.schedule-2 .amount b {
  color: var(--primary-50);
}
.dashboard-calendar .schedule-detail .schedule-item.schedule-3 .date {
  background-color: var(--secondary-5);
  color: var(--secondary-60);
}
.dashboard-calendar .schedule-detail .schedule-item.schedule-3 .amount b {
  color: var(--secondary-60);
}
.dashboard-calendar .schedule-detail .schedule-item.schedule-4 .date {
  background-color: var(--point-5);
  color: var(--point-30);
}
.dashboard-calendar .schedule-detail .schedule-item.schedule-4 .amount b {
  color: var(--point-30);
}
.dashboard-calendar .schedule-detail .schedule-item.schedule-5 .date {
  background-color: #FFF8F1;
  color: #E88019;
}
.dashboard-calendar .schedule-detail .schedule-item.schedule-5 .amount b {
  color: #E88019;
}
.dashboard-calendar .schedule-detail .schedule-item .schedule-info {
  position: relative;
}
.dashboard-calendar .schedule-detail .schedule-item .schedule-info .date {
  display: block;
  padding: 0.5rem 0.8rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  margin-bottom: 2rem;
  width: fit-content;
}
.dashboard-calendar .schedule-detail .schedule-item .schedule-info .date b {
  color: inherit;
}
.dashboard-calendar .schedule-detail .schedule-item .schedule-info .title {
  font-size: 1.8rem;
  color: var(--gray-90);
  display: block;
  margin-bottom: 0.5rem;
}
.dashboard-calendar .schedule-detail .schedule-item .schedule-info .orderer {
  display: block;
  font-size: 1.3rem;
  border-radius: 0.4rem;
  background: var(--gray-5);
  padding: 0.5rem 0.8rem;
  width: fit-content;
}
.dashboard-calendar .schedule-detail .schedule-item .schedule-info .amount {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem 0;
}
.dashboard-calendar .schedule-detail .schedule-item .schedule-cont {
  color: var(--gray-60);
  font-size: 1.5rem;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px dashed var(--gray-15);
}

.project-ranking {
  padding-top: 4rem;
  padding-bottom: 3rem;
}
.project-ranking .tabs {
  position: relative;
}
.project-ranking .tabs .depth4 {
  border: 0;
  border-top: 1px solid var(--gray-10);
}
.project-ranking .tabs .depth4 > li > button {
  font-size: 1.8rem;
  padding: 2.3rem 3.5rem;
  border-bottom-width: 0.3rem;
}
.project-ranking .tabs > ul {
  display: block;
}
.project-ranking .tabs .tab-nav1 button,
.project-ranking .tabs .tab-nav2 button {
  position: absolute;
  right: 0;
  top: -7rem;
  width: 7rem;
}
.project-ranking .tabs .tab-nav1 button {
  right: 7rem;
}
.project-ranking .tabs .tab-cont {
  display: none;
  left: 0;
  width: 100%;
}
.project-ranking .tabs .active .tab-cont {
  display: block;
}
.project-ranking .tabs .more {
  background: var(--gray-5);
  border-radius: 0.8rem;
  padding: 1.2rem 0;
  font-size: 1.4rem;
  color: var(--gray-40);
  font-weight: 500;
  display: block;
  text-align: center;
  transition: 0.2s;
}
.project-ranking .tabs .more:hover {
  background: var(--gray-10);
}
.project-ranking .project-orderer {
  display: flex;
  gap: 0.6rem;
  margin-bottom: 0.8rem;
}
.project-ranking .project-orderer .orderer {
  font-size: 1.3rem;
  color: var(--gray-60);
  background: var(--gray-5);
  border-radius: 0.4rem;
  padding: 0.4rem 0.6rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-ranking .project-orderer .date {
  font-size: 1.3rem;
  border-radius: 0.4rem;
  border: 1px solid;
  padding: 0.4rem 0.6rem;
  font-weight: 600;
}
.project-ranking .project-orderer .date.end {
  border-color: #FF5555;
  color: #FF5555;
}
.project-ranking .project-orderer .date.new {
  border-color: var(--primary);
  color: var(--primary);
}
.project-ranking .project-date {
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.project-ranking .project-date b {
  font-size: 2rem;
  color: var(--primary);
}
.project-ranking .project-date small {
  font-size: 1.7rem;
  color: var(--gray-80);
}
.project-ranking .list {
  display: block;
}
.project-ranking .list li {
  border-bottom: 1px solid var(--gray-5);
  position: relative;
}
.project-ranking .list li a {
  display: block;
  width: calc(100% + 8rem);
  margin: 0 -4rem;
  padding: 2rem 4rem;
  text-align: left;
  border-radius: 1.2rem;
  border: 2px solid transparent;
  transition: 0.2s;
}
.project-ranking .list li a:hover {
  border-color: #00062C;
}
.project-ranking .list li a:has(.project-date) {
  padding-right: 12rem;
}
.project-ranking .subject {
  font-size: 1.6rem;
  color: var(--gray-90);
  font-size: 1.6rem;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  margin-bottom: 2rem;
  line-height: 1.4;
}
.project-ranking .term {
  display: block;
  font-size: 1.3rem;
  color: var(--gray-40);
}

.customer-percent {
  padding: 0;
  position: relative;
}
.customer-percent .heading-m {
  position: absolute;
  left: 3rem;
  top: 3rem;
  z-index: 1;
}
.customer-percent .graph-area {
  height: 44rem;
}

.connect-link .cont {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.connect-link .link-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 11.2rem;
  min-width: 10.5rem;
  border: 1px solid var(--gray-10);
  border-radius: 0.8rem;
  padding: 2rem 0;
  transition: 0.2s;
}
.connect-link .link-item:hover {
  background: var(--gray-5);
}

/* =======================================================================================
02.프로젝트
======================================================================================= */
.project-total .amount {
  color: var(--primary);
  font-weight: 600;
  margin-top: 0.8rem;
}
.project-total .label {
  font-size: 1.3rem;
  color: var(--gray-60);
  background: var(--gray-5);
  border-radius: 0.4rem;
  padding: 0.4rem 0.6rem;
}

.project-amount-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sales-manage {
  display: flex;
  gap: 0.8rem;
  flex-flow: column wrap;
  height: 14rem;
}
.sales-manage > li {
  display: flex;
  gap: 2rem;
}
.sales-date {
  display: flex;
  border: 1px solid var(--gray-10);
  border-radius: 0.4rem;
  color: var(--gray-70);
  font-size: 1.3rem;
}
.sales-date * {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sales-date .label {
  background: var(--gray-10);
}
.sales-date .num {
  font-size: 1rem;
}
.sales-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.sales-row .amount {
  padding: 0.8rem 2rem;
  min-width: 16rem;
  border-radius: 0.4rem;
}
.sales-row .bg1 {
  background: var(--gray-5);
}
.sales-row .bg2 {
  background: var(--point-5);
}
.sales-row .bg2 b {
  color: var(--point-30);
}
.sales-row .bg3 {
  background: var(--secondary-5);
}
.sales-row .bg4 {
  background: var(--primary-5);
}
.sales-row .bg4 b {
  color: var(--primary);
}
.sales-row.column {
  flex-direction: column;
}
.sales-row-group {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.sales-label {
  width: 4rem;
  font-size: 1.4rem;
  color: var(--gray-60);
}
.sales-input {
  width: 16rem;
  font-size: 1.7rem;
}
.sales-input input {
  background: transparent;
  border: 0;
  padding: 0.8rem;
  width: 100%;
  font-weight: 500;
  text-align: right;
}
.sales-add-btn {
  color: var(--gray-40);
  font-size: 2rem;
  display: block;
  padding: 1rem;
  width: 100%;
}
.sales-calendar {
  border-radius: 1.2rem;
  border: 1px solid var(--gray-10);
  margin-bottom: 2rem; /* min-width: 180rem; */
}
.sales-calendar .year-bg {
  background: var(--gray-5);
  text-align: center;
  padding: 1rem 0;
}
.sales-calendar .amount {
  justify-content: center;
}
.sales-calendar .amount.memo b {
  position: relative;
}
.sales-calendar .amount.memo b::after {
  content: "";
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: var(--primary-30);
  position: absolute;
  right: -1rem;
  top: 0;
}
.sales-calendar .amount.warning b::after {
  background: #FF5555;
}
.sales-month-wrap {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  overflow-x: scroll;
}
.sales-month-wrap::-webkit-scrollbar-track {
  background-color: var(--white);
  border-radius: 0.3rem;
}
.sales-month-wrap::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
.sales-month-wrap::-webkit-scrollbar-thumb {
  background-color: var(--gray-20);
  border-radius: 0.3rem;
}
.sales-month {
  text-align: center;
  flex: 0 0 17rem;
}
.sales-month .month-title {
  display: block;
  text-align: center;
  padding: 1rem;
}

.wage-price {
  background: var(--gray-5) !important;
}
.wage-price:nth-child(1) {
  border-radius: 1.2rem 0 0 1.2rem;
}
.wage-price:nth-child(1)::before {
  display: none;
}
.wage-price:nth-child(3) {
  border-radius: 0 1.2rem 1.2rem 0;
}

.blank + .actual-cost {
  border-radius: 1.2rem 0 0 1.2rem;
}

.actual-cost {
  background: var(--primary-5) !important;
}
.actual-cost:last-child {
  border-radius: 0 1.2rem 1.2rem 0;
}

[class*=mem-date] [class*=time-] {
  border-radius: 0.8rem;
  cursor: pointer;
}
[class*=mem-date] .time-0 {
  background: rgba(17, 136, 255, 0);
  color: #888;
}
[class*=mem-date] .time-25 {
  background: var(--primary-5);
  color: var(--primary-30);
}
[class*=mem-date] .time-50 {
  background: var(--primary-30);
  color: var(--white);
}
[class*=mem-date] .time-75 {
  background: var(--primary);
  color: var(--white);
}
[class*=mem-date] .time-100 {
  background: var(--primary-60);
  color: var(--white);
}

th.blank, td.blank {
  background: var(--white) !important;
  border-bottom: 0 !important;
}
th.blank::after, td.blank::after {
  display: none;
}

.mem-day-pop {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: 0.2s ease;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background: var(--white);
  border-radius: 1.2rem;
}

.mem-day-expense {
  position: relative;
}
.mem-day-expense.active .mem-day-pop {
  opacity: 1;
  visibility: visible;
  height: auto;
  width: 36rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}
.mem-day-expense.active .mem-day-pop .title {
  margin-bottom: 2rem;
}
.mem-day-expense.active .mem-day-pop .cont {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.mem-day-expense.active .mem-day-pop .cont .btn-day-expense {
  margin-left: auto;
}
.mem-day-expense.active .mem-day-pop .btn-close {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.job-desc {
  background: var(--gray-5);
  border-radius: 0.4rem;
  padding: 0.4rem 0.6rem;
  font-size: 1.2rem;
  color: var(--gray-60);
}

.mem-compare {
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
}
.mem-plan {
  background: var(--gray-5);
  flex: 0 0 35%;
}
.mem-plan .label {
  background: #7C7F91;
}
.mem-plan b {
  color: var(--gray-80);
}
.mem-actual {
  background: var(--primary-5);
  flex: 1;
}
.mem-actual .label {
  background: var(--primary);
}
.mem-actual b {
  color: var(--primary);
}
.mem-sum {
  margin-top: auto;
  padding: 1.8rem 4rem;
  text-align: center;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
}
.mem-sum .label {
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 0.4rem;
  padding: 0.4rem 0.6rem;
  color: var(--white);
}
.mem-sum b {
  margin: 0 0.3rem;
}
.mem-date-count [class*=time-] {
  padding: 2.8rem;
}
.mem-date-count [class*=time-].disable {
  cursor: not-allowed;
  pointer-events: none;
  filter: grayscale(1);
}
.mem-date-count tbody td {
  border-top: 0;
}
.mem-date-count tbody td span {
  color: #222 !important;
  position: absolute;
  left: 1.6rem;
  top: 1.6rem;
}
.mem-date-count tbody td strong {
  font-size: 1.7rem;
  display: block;
}
.mem-date-count tbody td small {
  font-size: 1rem;
  display: block;
}
.mem-day-expense .month {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.mem-date-schedule table {
  table-layout: fixed;
}
.mem-date-schedule table thead th {
  background: var(--white);
  border-radius: 0;
}
.mem-date-schedule table thead > tr:first-of-type > th {
  background: #fafafa;
}
.mem-date-schedule table tbody th {
  padding: 0.85rem 0;
  background: var(--white);
  border-bottom: 0;
}
.mem-date-schedule table tbody td {
  padding: 0.5rem;
  font-size: 1.3rem;
  letter-spacing: -1px;
  border-bottom: 0;
}
.mem-inner-price {
  filter: blur(5px);
}
.mem-actual-cost-table tr.disable td:not(:has(.input-end-check)) {
  cursor: not-allowed;
  pointer-events: none;
  filter: grayscale(1);
}

.btn-mem-date,
.btn-mem-inner-price {
  margin-left: 1rem;
}

.btn-mem-date b {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--gray-90);
}
.btn-mem-date small {
  font-size: 1.6rem;
  margin-left: 0.8rem;
}
.btn-mem-date::after {
  color: var(--gray-40);
  font-size: 1.4rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: 0.2s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn-mem-date:hover::after {
  background: var(--gray-10);
}

.btn-mem-inner-price::before {
  content: "\ec16";
  font-family: "remixicon";
  font-size: 2rem;
  color: var(--gray-40);
}

#mem-inner-price tfoot {
  color: #1188FF;
  border: 1px solid rgba(17, 136, 255, 0.2);
  background: var(--secondary-5);
}

.random-cal {
  margin-left: auto;
  display: flex;
  gap: 4rem;
  align-items: center;
}
.random-cal .member-select {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.random-cal .btn-random-cal {
  font-size: 1.6rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.date-count {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.date-count b {
  color: var(--primary);
  font-size: 2.4rem;
  padding: 0 1rem;
  border-radius: 0.8rem;
  min-width: 8rem;
  text-align: right;
}
.date-count b.active {
  background: var(--primary-5);
}
.date-count b.active:focus {
  background: var(--white);
  outline: 1px solid var(--primary-30);
}

/* =======================================================================================
03.매출관리 & 04.지출관리 
======================================================================================= */
.amount-target {
  border-radius: 1.2rem;
  color: var(--white);
  padding: 1.6rem 6rem;
  background: linear-gradient(92deg, var(--secondary-30) 6.24%, var(--primary-30) 84.83%);
  margin-bottom: 1.2rem;
  font-size: 2rem;
  display: flex;
  gap: 3rem;
  align-items: center;
}
.amount-target strong {
  font-weight: 700;
}
.amount-target > div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amount-target .ri-bar-chart-fill {
  opacity: 0.5;
  margin-right: 0.8rem;
  font-size: 2.2rem;
  font-weight: 400;
}
.amount-target .amount {
  color: inherit;
  font-weight: 700;
  font-size: 2rem;
}
.amount-target .amount small {
  color: inherit;
}
.amount-target .target-slogan {
  position: relative;
  padding-left: 3rem;
}
.amount-target .target-slogan::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  width: 1px;
  height: 1.6rem;
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
}
.amount-target .target-slogan button {
  background: rgba(0, 0, 0, 0.2);
  padding: 0.6rem 0.8rem;
  font-size: 1.5rem;
  border-radius: 0.6rem;
  margin-left: auto;
  transition: 0.2s;
}
.amount-target .target-slogan button i {
  margin-right: 0.4rem;
}
.amount-target .target-slogan button:hover {
  background: rgba(0, 0, 0, 0.3);
}

.amount-stat {
  display: flex;
  gap: 1rem;
  margin-bottom: 4rem;
}
.amount-stat .amount {
  font-size: 2rem;
  font-weight: 700;
}
.amount-stat .amount-area {
  display: flex;
  gap: 0.5rem 1rem;
  align-items: center;
}
.amount-stat .amount-area .graph-percent {
  color: #00062c;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.amount-stat > div {
  flex: 1;
  min-width: 73.5rem;
  padding: 2rem;
  border-radius: 1.2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.amount-stat > div .group {
  background: var(--white);
  padding: 2rem 3rem;
  border-radius: 1.2rem;
}
.amount-stat > div .group .title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--gray-90);
}
.amount-stat > div .group .list-dot {
  margin-top: 2rem;
}
.amount-stat > div .group .list-dot li {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  border-bottom: 1px solid var(--gray-10);
  padding-bottom: 0.6rem;
}
.amount-stat > div .group .list-dot li .dept {
  font-size: 1.5rem;
  color: #00062C;
  min-width: 8rem;
}
.amount-stat > div .group .list-dot li .subject {
  font-size: 1.6rem;
  color: var(--gray-70);
}
.amount-stat > div .group .list-dot li .amount {
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: auto;
}
.amount-stat > div .group .list-dot li:last-child {
  border-bottom: 0;
}
.amount-stat-confirm-area {
  background: var(--secondary-5);
}
.amount-stat-confirm .title {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
.amount-stat-confirm .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amount-stat-confirm .row2 {
  border-top: 1px solid var(--gray-10);
  margin-top: 1rem;
  padding-top: 1rem;
}
.amount-stat-confirm .row2 .amount {
  color: var(--primary-30);
}
.amount-stat-confirm .row2 .date {
  color: var(--gray-70);
  font-size: 1.5rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
  transition: 0.2s;
}
.amount-stat-confirm .row2 .date:hover {
  background-color: var(--gray-5);
  color: var(--gray-90);
}
.amount-stat-confirm .row2 .date i {
  font-size: 1.6rem;
  color: var(--gray-40);
}
.amount-stat-confirm-detail {
  display: grid;
  gap: 1rem 8rem;
  grid-template-columns: 1fr 1fr;
}
.amount-stat-confirm-detail .group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amount-stat-confirm-detail .group-item .s-title {
  font-size: 1.6rem;
  font-weight: 500;
}
.amount-stat-confirm-detail .group-item .amount {
  font-size: 1.8rem;
  font-weight: 500;
}
.amount-stat-actual {
  display: flex;
  align-items: flex-start;
}
.amount-stat-actual .amount {
  color: var(--secondary-30);
}
.amount-stat-actual .amount-area {
  margin-left: auto;
  flex-direction: column;
  align-items: flex-end;
}
.amount-stat-outstand {
  display: flex;
  align-items: flex-start;
}
.amount-stat-outstand .amount {
  color: #FF5555;
}
.amount-stat-outstand .amount-area {
  margin-left: auto;
  flex-direction: column;
  align-items: flex-end;
}
.amount-stat-recent {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.amount-stat-expect-area {
  background: var(--primary-5);
}
.amount-stat-expect-area .amount-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amount-stat-expect-cal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amount-stat-expect-cal button {
  font-size: 2.8rem;
  color: var(--gray-90);
}
.amount-stat-expect-cal button i {
  display: block;
  transition: 0.2s;
}
.amount-stat-expect-cal .prev-month:hover i {
  transform: translateX(-1rem);
}
.amount-stat-expect-cal .next-month:hover i {
  transform: translateX(1rem);
}
.amount-stat-expect-sum {
  flex: 1;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.amount-stat-expect-sum .title {
  display: block;
  border-bottom: 1px solid var(--gray-10);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.amount-stat-expect-sum .compare-month {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.amount-stat-expect-sum .compare-month .label {
  font-size: 1.5rem;
  color: var(--gray-40);
  font-weight: 500;
}
.amount-stat-expect-sum .compare-month .value {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.amount-stat-expect-sum .compare-month .value::before {
  content: "";
  font-size: 2rem;
  display: block;
}
.amount-stat-expect-sum .compare-month .value.up {
  color: var(--point-30);
}
.amount-stat-expect-sum .compare-month .value.up::before {
  content: "\ea77";
  font-family: "remixicon";
}
.amount-stat-expect-sum .compare-month .value.down {
  color: var(--secondary-30);
}
.amount-stat-expect-sum .compare-month .value.down::before {
  content: "\ea4d";
  font-family: "remixicon";
}
.amount-stat-expect-dept {
  flex: 1;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.amount-stat-expect-dept .title {
  display: block;
  border-bottom: 1px solid var(--gray-10);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.amount-stat-expect-dept .form-control {
  width: 12rem;
}
.amount-stat-expect-dept > div {
  display: none;
}
.amount-stat-expect-dept > div.active {
  display: block;
}

.amount-stat-detail {
  border-radius: 1.2rem;
  border: 1px solid #EAEAEA;
  background: var(--white);
  padding: 3rem;
}
.amount-stat-detail .graph-area {
  height: 50rem;
}

.ifrs-item {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: flex-end;
}
.ifrs-item small {
  font-size: 1.2rem;
  background: var(--primary-5);
  color: var(--primary-30);
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
}
.ifrs-item span {
  padding-right: 0.8rem;
}

/* =======================================================================================
04. 지출관리
======================================================================================= */
.btn-month-quarter {
  background: var(--gray-10);
  border-radius: 10rem;
  padding: 0.4rem;
  display: flex;
  align-items: center;
}
.btn-month-quarter span {
  padding: 0.3rem 2rem;
  font-size: 1.7rem;
  color: var(--gray-35);
  transition: 0.2s;
}
.btn-month-quarter .active {
  background: var(--white);
  border-radius: 10rem;
  color: var(--primary);
}

/* =======================================================================================
05. 실적관리
======================================================================================= */
.btn-col-more {
  margin-bottom: 2rem;
}

/* =======================================================================================
06. 거래처 
======================================================================================= */
.address [contenteditable] {
  width: 100%;
}

/* =======================================================================================
07. 환경설정
======================================================================================= */
.other-tax li .value b, .org-dept-head .target-slogan strong {
  display: inline-flex;
  vertical-align: middle;
  border-radius: 0.8rem;
  padding: 0.8rem;
  min-width: 8.4rem;
  transition: 0.2s;
}
.other-tax li .value b:focus, .org-dept-head .target-slogan strong:focus {
  outline: 1px solid var(--primary-30);
  outline-offset: -1px;
  background: var(--white);
}

.org {
  margin-top: 3.7rem;
}
.org-container {
  column-count: 4;
  border-bottom: 1px solid var(--gray-15);
  padding-bottom: 2rem;
}
.org-dept {
  width: 100%;
  break-inside: avoid;
  margin-bottom: 2rem;
  background: var(--gray-5);
  border: 1px solid var(--gray-15);
  border-radius: 1.2rem;
  overflow: hidden;
  transition: 0.2s;
}
.org-dept.active .org-dept-body {
  opacity: 1;
  visibility: visible;
  height: auto;
  overflow: visible;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.org-dept.active .btn-dept-open i {
  transform: rotate(180deg);
}
.org-dept:hover {
  background: var(--primary-5);
  border-color: var(--primary-30);
}
.org-dept:hover .btn-dept-open {
  border-color: var(--primary-30);
}
.org-dept-head {
  padding: 3rem 2.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 20.7rem;
  position: relative;
}
.org-dept-head .title b {
  font-size: 2.4rem;
  color: var(--gray-90);
}
.org-dept-head .title small {
  display: block;
  font-size: 1.6rem;
  color: var(--gray-70);
}
.org-dept-head .member-num {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  position: absolute;
  right: 2.8rem;
  top: 3rem;
}
.org-dept-head .member-num i {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-70);
  font-size: 1.6rem;
  color: var(--gray-70);
}
.org-dept-head .member-num b {
  font-size: 2.5rem;
}
.org-dept-head .target-slogan {
  width: 100%;
}
.org-dept-head .target-slogan strong {
  width: 100%;
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--primary-60);
  background: var(--white);
  justify-content: center;
  text-align: center;
}
.org-dept-head .target-slogan strong:empty::after {
  content: "슬로건을 입력해주세요";
  width: 100%;
  font-size: 1.5rem;
  color: var(--gray-40);
  padding: 0.2rem;
  letter-spacing: -1px;
  text-align: center;
  transition: 0.2s;
}
.org-dept-body {
  background: var(--white);
  padding: 0 2.8rem;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
  justify-content: center;
}
.org .btn-dept-open {
  background: var(--white);
  border-top: 1px solid var(--gray-15);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 0;
  transition: 0.2s;
}
.org .btn-dept-open i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  border: 1px solid var(--gray-15);
  transition: 0.2s 0.2s;
}
.org .s-dept {
  width: 100%;
  border-radius: 0.8rem;
  border: 1px dashed var(--gray-15);
  padding: 2rem;
  transition: 0.2s;
}
.org .s-dept-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.org .s-dept-head .s-title {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.org .s-dept-head .s-title b {
  font-size: 1.8rem;
  color: var(--gray-90);
}
.org .s-dept-head .s-title small {
  font-size: 1.6rem;
  color: var(--gray-70);
  position: relative;
  padding-left: 1rem;
}
.org .s-dept-head .s-title small::before {
  content: "";
  background-color: #ddd;
  width: 1px;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
}
.org .s-dept .btn-team-open {
  flex: 1;
  text-align: right;
}
.org .s-dept .btn-team-open + .user-group {
  width: 100%;
}
.org .s-dept-body {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: 0.2s ease;
}
.org .s-dept.active .s-dept-head > .user-group {
  display: none;
}
.org .s-dept.active .btn-team-open i {
  display: inline-block;
  transform: rotate(180deg);
  transition: 0.2s 0.2s;
}
.org .s-dept.active .s-dept-body {
  opacity: 1;
  visibility: visible;
  height: auto;
  margin-top: 2.1rem;
}
.org .s-dept:hover {
  border-color: var(--primary-30);
}
.org .team {
  width: 100%;
  background: var(--gray-5);
  border-radius: 0.8rem;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.id-photo {
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid var(--gray-15);
  background: var(--gray-5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.id-photo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.id-photo:empty::before {
  content: "\f264";
  font-family: "remixicon";
  font-size: 2.8rem;
  color: var(--gray-20);
}
.id-photo:empty::after {
  display: none;
}

.grade {
  color: var(--primary-30);
  font-size: 1.5rem;
  font-weight: 600;
}
.grade + .amount {
  position: relative;
  padding-left: 1rem;
  margin-left: 1rem;
}
.grade + .amount::before {
  content: "";
  background-color: #ddd;
  width: 1px;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
}

.total-career {
  background: var(--primary-5);
  padding: 2rem;
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  margin-top: 5rem;
}
.total-career .label {
  background: var(--primary);
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
}
.total-career .career-term {
  color: var(--primary);
  font-size: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.total-career .career-term small {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--gray-90);
}

.job-member-num {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.job-member-num .user-sum {
  font-size: 1.5rem;
}

.all-column-table th {
  background: var(--secondary-5) !important;
  color: var(--secondary-30);
}

.inprice-table .bdb::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--gray-15);
  position: absolute;
  left: 0;
  bottom: 0;
}

.grade-label {
  display: inline-flex;
  background: var(--white);
  border-radius: 15rem;
  padding: 0.6rem 1.2rem;
  margin-bottom: 1.2rem;
}
.grade-label .grade-name {
  font-size: 1.4rem;
  position: relative;
  padding-left: 1rem;
  margin-left: 1rem;
}
.grade-label .grade-name::before {
  content: "";
  background-color: #ddd;
  width: 1px;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
}

.grade-year {
  display: block;
}

.other-tax {
  width: 27rem;
}
.other-tax li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-10);
  padding: 1.5rem 0;
}
.other-tax li .label {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--gray-90);
}
.other-tax li .value b {
  font-size: 2rem;
  font-weight: 700;
  color: var(--gray-90);
  justify-content: flex-end;
}
.other-tax li .value small {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--gray-80);
}
.other-tax .btn-filter-reset {
  display: inline-flex;
  align-items: center;
  padding: 0.8rem 2rem;
  border-radius: 1rem;
  height: 4.8rem;
  transition: 0.2s;
}
.other-tax .btn-filter-reset:hover {
  background: var(--gray-5);
}

.expense-history {
  flex: 1;
}

.job-ex {
  max-height: 13rem;
  overflow: hidden;
  display: block !important;
  text-align: left;
}
.job-ex.first-hide {
  max-height: inherit;
}
.job-ex.hide {
  max-height: 13rem;
  overflow: hidden;
  position: relative;
}
.job-ex.hide::after {
  content: "";
  width: 100%;
  height: 8rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 80%);
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width: 1619.98px) {
  .org-container {
    column-count: 2;
  }
  .dashboard-colgroup {
    gap: 2rem;
  }
  .dashboard-colgroup .dashboard-main {
    padding: 2rem;
  }
}/*# sourceMappingURL=contents.css.map */