@charset "UTF-8";

/* =======================================================================================
공통
======================================================================================= */
b {
	color: var(--gray-90);
}

.box-flex-wrap {
	display: flex;
	gap: 2rem;
	margin-top: 2rem;
}

.box-flex-wrap .box~.box {
	margin-top: 0;
}

.box {
	border: 1px solid var(--gray-10);
	border-radius: 1.2rem;
	background: var(--white);
	padding: 4rem;
	position: relative;
}

.point,
.warning {
	color: var(--point-30) !important;
}

.amount .desc,
.amount-area .desc {
	font-size: 1.3rem;
	color: var(--gray-60);
	background: var(--gray-5);
	padding: 0.4rem 0.6rem;
	border-radius: 0.4rem;
}

.disable {
	background: var(--gray-10);
	color: var(--gray-35);
	padding: 0.8rem;
	border-radius: 0.8rem;
}

.term-date.ic-cal::before,
.input-date.ic-cal::before {
	margin-right: 0;
}

.term-date.ic-cal .form-control,
.input-date.ic-cal .form-control {
	/* padding: 1rem; */
	border: 0;
}

/* 아이템 */
.item input[type=checkbox] {
	position: absolute;
	opacity: 0;
}

.item {
	display: inline-flex;
	align-items: center;
	border-radius: 2rem;
	border: 1px solid var(--gray-20);
	padding: 0.6rem 1.2rem;
	cursor: pointer;
	line-height: normal;
	color: var(--gray-70);
	background: var(--white);
	font-size: 1.6rem;
	white-space: nowrap;
	transition: 0.2s;
}

.item:hover {
	background-color: var(--gray-5);
	color: var(--gray-90);
}

.item:active {
	border: 1px solid #00062c;
}

.item.selected {
	border-style: dashed;
	padding: 1rem 1rem 1rem 1.6rem;
}

.item.selected:has(.form-control) {
	padding-top: 0.35rem;
	padding-bottom: 0.35rem;
}

.item.selected:active {
	border: 1px solid #00062c;
}

.item.selected .ri-close-line {
	display: flex;
}

.item .item-btn {
	display: flex;
	align-items: center;
}

.item .ri-close-line {
	display: flex;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
	transition: 0.2s;
}

.item .ri-close-line:hover {
	background-color: var(--gray-20);
	color: var(--gray-90);
}

.item .form-control {
	border: 0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.item-title {
	position: relative;
	padding: 1rem;
	display: flex;
}

.item-title strong {
	color: var(--gray-90);
}

.item-cont {
	display: flex;
	gap: 1rem;
	align-items: center;
	padding: 1rem;
}

.item-layer {
	position: absolute;
	top: 100%;
	left: -1px;
	background: var(--white);
	border-radius: 1.2rem;
	padding: 1rem;
	width: 22rem;
	z-index: 10;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.item-layer .item-cont {
	flex-wrap: nowrap;
	overflow-x: auto;
}

.item-layer .item-cont::-webkit-scrollbar-track {
	background-color: var(--gray-15);
}

.item-layer .item-cont::-webkit-scrollbar {
	width: 0.4rem;
	height: 0.4rem;
}

.item-layer .item-cont::-webkit-scrollbar-thumb {
	background-color: var(--gray-90);
}

.item-layer .item-group {
	font-size: 1.5rem;
	max-height: 30rem;
	overflow-y: auto;
	display: flex;
	gap: 0.6rem;
	flex-wrap: wrap;
}

.item-layer .item-group::-webkit-scrollbar-track {
	background-color: var(--white);
	border-radius: 0.4rem;
}

.item-layer .item-group::-webkit-scrollbar {
	width: 0.4rem;
	height: 0.4rem;
}

.item-layer .item-group::-webkit-scrollbar-thumb {
	background-color: var(--gray-20);
	border-radius: 0.4rem;
}

.item-layer .item-group .item {
	padding: 0.6rem 1.2rem;
}

.item-layer .item-group .item:has(.state) {
	padding: 0;
	border: 0;
}

.item-layer .item-group .selected {
	border: 2px solid #00062C;
}

.item-layer.term-layer,
.item-layer.project-layer {
	width: 36rem;
}

.item-layer.project-layer .item {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.item-layer.amount-layer .item {
	flex: 1;
}

.item-layer.status-layer,
.item-layer.work-layer,
.item-layer.graduate-layer,
.item-layer.deposit-layer {
	width: 11rem;
}

.item-layer .vert {
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

.item-layer .repeat-area {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 4.2rem;
}

.item-layer .repeat-area .form-control {
	display: none;
}

.item-layer .repeat-area.active .form-control {
	display: block;
}







@media (max-width: 1619.98px) {
	.org-container {
		column-count: 2;
	}

	.dashboard-colgroup {
		gap: 2rem;
	}

	.dashboard-colgroup .dashboard-main {
		padding: 2rem;
	}
}