@charset "UTF-8";
/* =======================================================================================
popup-wrap
======================================================================================= */
.popup-wrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 1rem;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.3);
}
.popup-wrap .popup {
  background: var(--white);
  border-radius: 2rem 0 0 2rem;
  display: flex;
  flex-direction: column;
  max-width: 136rem;
  width: 100%;
  padding: 4rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  overflow: hidden;
  transition: 0.2s 0.2s; /* @include flex($fd:column); display: none; width: 100%; height: 100%; padding: 4rem; position: relative; */
}
.popup-wrap .popup-head {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 4rem;
  padding: 0;
  position: relative;
  transition: 0.2s;
}
.popup-wrap .popup-head .popup-back {
  opacity: 0;
  visibility: hidden;
  font-size: 4rem;
  font-weight: 400;
  position: absolute;
  left: 0;
  top: -0.5rem;
  z-index: 1;
  transition: 0.2s;
}
.popup-wrap .popup-head .pop-tit {
  font-size: 2.5rem;
}
.popup-wrap .popup-tab {
  width: 100%;
}
.popup-wrap .popup-tab .depth4 {
  padding: 0 2rem;
  border: 0;
  justify-content: center;
}
.popup-wrap .popup-tab .depth4 > li {
  flex: 0 0 20rem;
}
.popup-wrap .popup-tab .depth4 > li > a, .popup-wrap .popup-tab .depth4 > li > button {
  font-size: 2rem;
  text-align: center;
  padding: 2.3rem 3.5rem;
  border-bottom: 0.3rem solid transparent;
}
.popup-wrap .popup-body {
  flex: 1;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  border: 1px solid var(--gray-15);
  padding: 4rem 3rem 30rem;
  border-radius: 2rem;
}
.popup-wrap .popup-body::-webkit-scrollbar-track {
  background-color: var(--gray-30);
}
.popup-wrap .popup-body::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
.popup-wrap .popup-body::-webkit-scrollbar-thumb {
  background-color: var(--gray-60);
}
.popup-wrap .popup-body::-webkit-scrollbar {
  height: 0.6rem;
}
.popup-wrap .popup-util {
  position: absolute;
  top: 4rem;
  right: 4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.popup-wrap .popup-util .popup-print {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-5);
  font-size: 2.2rem;
  transition: 0.2s;
}
.popup-wrap .popup-util .popup-print:hover {
  background-color: var(--gray-10);
  color: var(--gray-90);
}
.popup-wrap .popup-util .popup-close {
  font-size: 4rem;
  transition: 0.2s;
}
.popup-wrap .popup-util .popup-close:hover {
  transform: rotate(180deg);
}
.popup-wrap .popup.popup-side .popup-head {
  padding-left: 4.5rem;
}
.popup-wrap .popup.popup-side .popup-head .popup-back {
  opacity: 1;
  visibility: visible;
}
.popup-wrap .popup.popup-side .popup-close {
  display: none;
}
.popup-wrap .popup.opened-layer {
  transform: translateX(0);
}

/* =======================================================================================
layout 공통
======================================================================================= */
html.active::after {
  content: "";
  display: block;
  width: 200%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 0;
}
html.scroll-no {
  overflow: hidden;
  padding-right: 1.8rem;
}
html::-webkit-scrollbar-track {
  background-color: var(--gray-15);
}
html::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--gray-90);
}

#wrap {
  padding: 2rem;
  background: #01072D;
}

/* =======================================================================================
contentWrap = #sideNav + #content
======================================================================================= */
#container {
  display: flex;
}

.left-menu .snb-list > ul > li.is-depth3 > a::after {
  content: "\ea4e";
  font-family: var(--icon);
  line-height: 1;
  transition: 0.2s;
}
.left-menu .snb-list > ul > li.is-depth3:hover > a::after, .left-menu .snb-list > ul > li.active.is-depth3 > a::after {
  rotate: 180deg;
}

/* =======================================================================================
sideNav
======================================================================================= */
.member-area {
  padding-right: 2rem;
  padding-left: 1rem;
}
.member-area .member {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 3rem 0;
}
.member-area .photo {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  min-width: 6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.member-area .name {
  color: var(--white);
  font-weight: 600;
}
.member-area .name .role {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 0.6rem;
}
.member-area .info {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
}
.member-area .info .info-dept {
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  gap: 0.7rem;
}
.member-area .info .info-dept .dept {
  color: #F2B8AB;
}
.member-area .info .info-dept .team {
  color: var(--white);
  position: relative;
  padding-left: 0.7rem;
}
.member-area .info .info-dept .team::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
}
.member-area .btn-area {
  height: 3.4rem;
  display: flex;
  gap: 0.4rem;
  flex-wrap: nowrap;
}
.member-area .btn {
  width: 8.4rem;
}
.member-area .btn.mypage {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--white);
  line-height: normal;
}
.member-area .btn.mypage:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: transparent;
}
.member-area .btn.logout {
  background: var(--primary);
  color: var(--white);
  border-color: transparent;
}
.member-area .btn.logout:hover {
  background: var(--primary-60);
  border-color: transparent;
}



/* =======================================================================================
content 공통
======================================================================================= */
.user-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.user-group .user-icon {
  margin-left: -3px;
  margin-right: 0;
}
.user-group .user-sum {
  font-size: 1.6rem;
  color: var(--gray-70);
  margin-left: 12px;
  white-space: nowrap;
}

.user {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  color: var(--gray-70);
  font-size: 1.5rem;
}

.user-icon {
  background: white;
  border-radius: 2rem;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 2px 4px;
  outline: rgba(0, 0, 0, 0.3) solid 0.5px;
  width: 2rem;
  height: 2rem;
  font-size: 1.1rem;
  color: var(--gray-90);
  line-height: normal;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  margin-right: 3px;
}
.user-icon img {
  object-fit: cover;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.contents {
  flex: 1;
  min-width: 1%;
  display: flex;
  flex-direction: column;
  background: var(--gray-5);
  padding: 3rem;
  border-radius: 2rem;
  min-height: calc(100vh - 4rem);
}
.contents .content-iframe {
  background: var(--white);
  height: 100%;
  border-radius: 0 2rem 2rem 2rem;
  padding: 3rem 1.5rem 3rem 0;
}
.contents .content-iframe::-webkit-scrollbar-track {
  background-color: var(--gray-15);
}
.contents .content-iframe::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
.contents .content-iframe::-webkit-scrollbar-thumb {
  background-color: var(--gray-90);
}

.page-contents {
  color: var(--fontColor);
  background: var(--white);
  position: relative;
  padding: 3rem 2rem;
  border-radius: 0 2rem 2rem 2rem;
}


/* =======================================================================================
footer
======================================================================================= */
.footer {
  text-align: center;
  padding: 2rem;
  color: var(--gray-35);
  font-size: 1.4rem;
  letter-spacing: normal;
  border-radius: 0 0 2rem 2rem;
  background: var(--white);
  margin-top: 10rem;
}

/* =======================================================================================
반응형
======================================================================================= */
@media (max-width: 1619.98px) {
  #wrap {
    padding: 1rem;
  }
  .contents {
    padding: 1.5rem;
    min-height: calc(100vh - 2rem);
  }
  .contents .content-iframe {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .page-contents {
    padding-left: 2rem;
  }
}
/* ===========================================================================================
print style
=========================================================================================== */
@page {
  size: A4 landscape;
}
@media print {
  .print-btn,
  .btn-row-add,
  .footer,
  .popup-util {
    display: none !important;
  }
  .popup-wrap {
    background: var(--white);
  }
  .popup-wrap .popup {
    padding: 2rem;
  }
  .scroll > table,
  .table.horizontal > table {
    min-width: inherit !important;
  }
}/*# sourceMappingURL=layout.css.map */