/* ==========================================================================================
//button
============================================================================================*/
.btn-area {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  position: relative;
}
.btn-area.both {
  justify-content: space-between;
}
.btn-area.col {
  flex-direction: column;
  margin: 0;
}

.btn {
  display: inline-flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  padding: 0.8rem 2rem;
  height: 4.8rem; /* min-width:12rem; */
  transition: 0.25s;
  background: var(--white);
  color: var(--gray-90);
  border: 1px solid var(--gray-20);
}
.btn:hover {
  border-color: var(--gray-50);
  background-color: var(--gray-10);
  text-decoration: none;
}
.btn-txt {
  background: none;
  border: 0;
  padding: 0 0.2rem;
  min-width: initial;
  transition: 0.2s;
}
.btn-txt:hover {
  background-color: var(--gray-5);
  color: var(--gray-90);
}
.btn-txt::after {
  margin-left: 0;
}
.btn[class*=ic-]::before {
  margin-right: 0;
}
.btn[class*=ico-]::before, .btn[class*=ico-]::after {
  width: 1.8rem;
  height: 1.8rem;
}
.btn-ico {
  border: 0;
  background: none;
  height: auto;
  min-width: inherit;
  padding-left: 1rem;
  padding-right: 1rem;
}
.btn-ico::after {
  margin-left: 0;
}
.btn.xsm {
  height: 2.4rem;
  font-size: 1.4rem;
  padding: 0.4rem 0.6rem;
  gap: 0.2rem;
  border-radius: 0.4rem;
}
.btn.xsm::before, .btn.xsm::after {
  width: 1.6rem;
  height: 1.6rem;
}
.btn.sm {
  height: 3.4rem;
  font-size: 1.5rem;
  padding: 0.4rem 0.8rem;
  gap: 1rem;
  border-radius: 0.4rem;
}
.btn.sm::before, .btn.sm::after {
  width: 1.6rem;
  height: 1.6rem;
}
.btn.md {
  height: 4.8rem;
  font-size: 1.7rem;
}
.btn.lg {
  height: 5.6rem;
  font-size: 1.9rem;
}
.btn.xlg {
  height: 6.4rem;
  font-size: 1.9rem;
}
.btn.primary {
  background: var(--primary);
  color: var(--white);
  border-color: transparent;
}
.btn.primary:hover {
  border-color: var(--primary-60);
  background-color: var(--primary-60);
}
.btn.primary:active {
  border-color: var(--primary-70);
  background-color: var(--primary-70);
}
.btn.secondary {
  background: var(--primary-5);
  color: var(--primary-60);
  border-color: var(--primary);
}
.btn.secondary:hover {
  background-color: var(--primary-10);
}
.btn.secondary:active {
  background-color: var(--primary-20);
}
.btn.tertiary {
  background: var(--secondary-80);
  color: var(--white);
  border-color: transparent;
}
.btn.tertiary:hover, .btn.tertiary:active {
  background-color: var(--secondary-90);
}
.btn-label input[type=radio] {
  position: absolute;
  opacity: 0;
}
.btn-label input[type=radio]:checked + label, .btn-label input[type=radio]:focus + label {
  background: var(--primary);
  color: var(--white);
  border-color: transparent;
}
.btn-label input[type=radio]:focus + label {
  outline: 2px dotted var(--white);
  outline-offset: -2px;
}
.btn-label label {
  cursor: pointer;
}
.btn-save {
  background: var(--secondary-80);
  border-color: transparent !important;
  color: var(--white);
  transition: 0.2s;
}
.btn-save:hover {
  background-color: var(--secondary-90);
}
.btn-toggle {
  font-size: 1.6rem;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}
.btn-toggle.active .toggle {
  filter: grayscale(0);
}
.btn-toggle.active .toggle-circle {
  left: calc(100% - 18px);
}
.btn-toggle .toggle {
  position: relative;
  display: block;
  width: 36px;
  height: 20px;
  background-color: var(--primary-5);
  border-radius: 20px;
  cursor: pointer;
  filter: grayscale(1);
  transition: 0.2s ease;
}
.btn-toggle .toggle-circle {
  position: absolute;
  top: 50%;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #4CAF50;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: 0.3s ease;
}

@media (max-width: 767.98px) {
  .btn-area {
    justify-content: center;
  }
}/*# sourceMappingURL=button.css.map */