
.btn-cell-set {
	color: var(--gray-60);
	font-size: 1.5rem;
	padding: 0.7rem 0.8rem;
	border-radius: 0.4rem;
	transition: 0.2s;
  }
  .btn-cell-set:hover {
	background-color: var(--gray-5);
	color: var(--gray-90);
  }
  
  .cell-view-set {
	margin-left: auto;
  }
  .cell-view-set .btn-reset {
	color: var(--gray-40);
	font-size: 1.5rem;
	display: flex;
	gap: 0.4rem;
	align-items: center;
	padding: 0.4rem;
	border-radius: 0.4rem;
	transition: 0.2s;
  }
  .cell-view-set .btn-reset:hover {
	background-color: var(--gray-5);
	color: var(--gray-90);
  }
  .cell-view-set .btn-reset i {
	font-size: 1.6rem;
  }
  .cell-view-set .item-layer {
	display: block;
	opacity: 0;
	visibility: hidden;
	transition: 0.25s;
	position: absolute;
	top: 0;
	left: auto;
	right: 0;
	padding: 0;
  }
  .cell-view-set .item-layer .title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.6rem;
	color: #333;
  }
  .cell-view-set.active .item-layer {
	opacity: 1;
	visibility: visible;
  }
  .cell-view-set .cont {
	flex-direction: column;
	align-items: flex-start;
  }
  .cell-view-set .cont .stitle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-top: 1px solid var(--gray-10);
	padding: 1rem 1.6rem;
  }
  .cell-view-set .cont .stitle strong {
	font-size: 1.7rem;
	color: var(--gray-60);
	font-weight: 500;
  }
  .cell-view-set .cont .stitle button {
	font-size: 1.5rem;
	color: var(--gray-40);
	padding: 0.4rem;
	border-radius: 0.4rem;
	transition: 0.2s;
  }
  .cell-view-set .cont .stitle button:hover {
	background-color: var(--gray-5);
	color: var(--gray-90);
  }
  .cell-view-set .cont .scont {
	padding: 1rem 1.6rem;
  }
  .cell-view-set .cell-item {
	display: block;
	width: 100%;
	padding: 0.5rem 0;
	text-align: left;
	position: relative;
	color: var(--gray-80);
	cursor: pointer;
  }
  .cell-view-set .cell-item input {
	display: none;
  }
  .cell-view-set .cell-item::after {
	content: "\ecb5";
	font-family: "remixicon";
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	color: var(--gray-60);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 50%;
	translate: 0 -50%;
	transition: 0.2s;
  }
  .cell-view-set .cell-item:hover::after {
	background: var(--gray-10);
	color: var(--gray-90);
  }
  .cell-view-set .cell-item.off::after {
	content: "\ecb7";
  }
  .cell-view-set .cell-item:has([data-col="0"]) {
	display: none;
  }