.left-menu {
	flex: 0 0 26rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	position: relative;
	z-index: 1;
	overflow: hidden;
	transition: 0.25s;
  }
  .left-menu::after {
	content: "";
	width: 35.5rem;
	height: 35.5rem;
	background: var(--primary-30);
	opacity: 0.3;
	filter: blur(10rem);
	position: absolute;
	right: -26.5rem;
	bottom: 11.5rem;
	z-index: -1;
  }
  .left-menu .logo {
	padding: 2.2rem 2rem 1rem;
	height: 6rem;
  }
  .left-menu .logo img {
	width: 10rem;
	height: 2.8rem;
  }
  .left-menu .title {
	color: var(--white);
	margin-bottom: 5rem;
  }
  .left-menu .snb-list > ul > li {
	position: relative;
  }
  .left-menu .snb-list > ul > li::before, .left-menu .snb-list > ul > li::after {
	content: "";
	display: block;
	width: 3.2rem;
	height: 3.2rem;
	position: absolute;
	right: -3.2rem;
	opacity: 0;
	visibility: hidden;
  }
  .left-menu .snb-list > ul > li::before {
	bottom: 100%;
	background: radial-gradient(circle at 0 0, rgba(1, 7, 45, 0) 70%, var(--gray-5) 72%);
  }
  .left-menu .snb-list > ul > li::after {
	top: 6.4rem;
	background: radial-gradient(circle at 0 100%, rgba(1, 7, 45, 0) 70%, var(--gray-5) 72%);
  }
  .left-menu .snb-list > ul > li ~ li > a::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	width: calc(100% - 3.2rem);
  }
  .left-menu .snb-list > ul > li > a {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1.8rem 2.6rem;
	font-size: 1.7rem;
	line-height: normal;
	letter-spacing: -1px;
	position: relative;
	color: rgba(255, 255, 255, 0.7);
  }
  .left-menu .snb-list > ul > li > a i {
	color: rgba(255, 255, 255, 0.3);
	font-size: 2rem;
	width: 2.8rem;
	height: 2.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .left-menu .snb-list > ul > li > a span {
	transition: 0.2s;
	white-space: nowrap;
  }
  .left-menu .snb-list > ul > li > a:hover {
	color: var(--white);
  }
  .left-menu .snb-list > ul > li.active::before, .left-menu .snb-list > ul > li.active::after {
	opacity: 1;
	visibility: visible;
	right: 0;
  }
  .left-menu .snb-list > ul > li.active > a {
	background: var(--gray-5);
	font-weight: 700;
	color: var(--black);
	border-radius: 3rem 0 0 3rem;
  }
  .left-menu .snb-list > ul > li.active > a i {
	color: var(--primary);
  }
  .left-menu .snb-list > ul > li.active > a::before {
	display: none;
  }
  .left-menu .snb-list > ul > li.active > ul {
	opacity: 1;
	visibility: visible;
	height: auto;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
  }
  .left-menu .snb-list > ul > li.active + li > a::before {
	display: none;
  }
  .left-menu .snb-list > ul > li > ul {
	display: block;
	padding-left: 3.2rem;
	padding-right: 3.2rem;
	opacity: 0;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	transition: 0.3s ease;
  }
  .left-menu .snb-list > ul > li > ul > li.active > a {
	color: var(--primary-30);
	font-weight: 700;
	background: rgba(4, 184, 127, 0.2);
  }
  .left-menu .snb-list > ul > li > ul > li.active > a::before {
	background: var(--primary-30);
  }
  .left-menu .snb-list > ul > li > ul > li.active > a span::after {
	opacity: 0.15;
  }
  .left-menu .snb-list > ul > li > ul > li > a {
	display: block;
	position: relative;
	font-size: 1.5rem;
	color: var(--gray-10);
	border-radius: 0.8rem;
	padding: 0.4rem 2.6rem;
	min-width: 15rem;
	transition: 0.2s;
  }
  .left-menu .snb-list > ul > li > ul > li > a::before {
	content: "";
	display: block;
	width: 0.4rem;
	height: 0.4rem;
	background: var(--gray-10);
	border-radius: 50%;
	position: absolute;
	left: 1.3rem;
	top: 1.3rem;
  }
  .left-menu .snb-list > ul > li > ul > li > a span {
	position: relative;
  }
  .left-menu .snb-list > ul > li > ul > li > a span::after {
	content: "";
	width: 100%;
	height: 0.8rem;
	background: #192e93;
	position: absolute;
	left: 0;
	bottom: 0;
	opacity: 0;
  }
  .left-menu .snb-list > ul > li > ul > li > a:hover {
	background: rgba(4, 184, 127, 0.1);
  }
  .left-menu .snb-close {
	position: absolute;
	right: 0;
	top: 7rem;
	color: var(--white);
	width: 4.2rem;
	height: 5rem;
	font-size: 3rem;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px 0px 0px 8px;
	background: rgba(255, 255, 255, 0.2);
	transform: translateX(0.2rem);
	transition: 0.2s;
  }
 
  .left-menu .snb-close:hover {
	transform: translateX(0);
	background: rgba(255, 255, 255, 0.3);
  }
  .left-menu.active {
	flex-basis: 6.4rem;
	overflow: visible;
	transition: 0.2s;
  }
  .left-menu.active::after {
	display: none;
  }
  .left-menu.active .snb-head {
	height: 16rem;
  }
  .left-menu.active .snb-head .logo,
  .left-menu.active .snb-head .member-area {
	display: none;
  }
  .left-menu.active .snb-list > ul > li > ul {
	display: none;
	position: absolute;
	opacity: 0;
	top: 0.5rem;
	left: 90%;
	padding: 5rem 1.2rem 1.2rem;
	border-radius: 12px;
	background: var(--white);
	box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  }
  .left-menu.active .snb-list > ul > li > a {
	padding-left: 2.2rem;
  }
  .left-menu.active .snb-list > ul > li > a::after {
	display: none;
  }
  .left-menu.active .snb-list > ul > li > a span {
	position: absolute;
	top: 1.5rem;
	left: 90%;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	color: var(--gray-60);
	font-size: 1.4rem;
	border-radius: 1.2rem;
	background: var(--white);
	width: fit-content;
	box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
	display: none;
	padding: 0.8rem 1.4rem;
	transition: 0.2s;
  }
  .left-menu.active .snb-list > ul > li > a:hover span {
	display: block;
	opacity: 1;
	visibility: visible;
  }
  .left-menu.active .snb-list > ul > li::before, .left-menu.active .snb-list > ul > li::after {
	width: 1.2rem;
	height: 1.2rem;
	right: 0;
  }
  .left-menu.active .snb-list > ul > li::before {
	background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 65%, var(--gray-5) 71%);
  }
  .left-menu.active .snb-list > ul > li::after {
	background: radial-gradient(circle at 0 100%, rgba(0, 0, 0, 0) 65%, var(--gray-5) 71%);
  }
  .left-menu.active .snb-list > ul > li.active > a {
	border-radius: 1rem 0 0 1rem;
	font-weight: 400;
  }
  .left-menu.active .snb-list > ul > li.active > a span {
	display: none;
  }
  .left-menu.active .snb-list > ul > li.active > a:has(+ ul) span {
	background: none;
	box-shadow: none;
  }
  .left-menu.active .snb-list > ul > li.active > ul {
	display: none;
  }
  .left-menu.active .snb-list > ul > li.active > ul li a {
	color: var(--gray-80);
  }
  .left-menu.active .snb-list > ul > li.active > ul li a::before {
	background: var(--gray-20);
  }
  .left-menu.active .snb-list > ul > li.active > ul li.active a {
	background: var(--primary-5);
  }
  .left-menu.active .snb-list > ul > li.active:hover > a span,
  .left-menu.active .snb-list > ul > li.active:hover > ul {
	opacity: 1;
	visibility: visible;
	display: block;
  }
  .left-menu.active .snb-close i {
	transform: rotateY(180deg);
  }