.tabs {
	position: relative;
	/* ul { display: flex; }
  a, button { width: 100%; @include flex(.3rem, center, center); font-size: 1.8rem; text-align: center; padding: 2.3rem 3.5rem; position: relative; line-height: 1.2;
  	&:hover { text-decoration: none; transition: .2s;}		
  }
  li.active {		
  	a, button { font-weight: 700; }
  }	 */
}

.tabs .depth4 {
	display: flex;
	border-bottom: 1px solid var(--gray-15);
}

.tabs .depth4>li>a,
.tabs .depth4>li>button {
	width: 100%;
	display: flex;
	gap: 0.3rem;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
	text-align: center;
	padding: 0.7rem 2rem;
	border-bottom: 0.3rem solid transparent;
	margin-bottom: -1px;
	color: var(--gray-40);
}

.tabs .depth4>li>a:hover,
.tabs .depth4>li>button:hover {
	text-decoration: none;
	transition: 0.2s;
	border-bottom-color: var(--gray-30);
}

.tabs .depth4>li.active>a,
.tabs .depth4>li.active>button {
	border-bottom: 0.2rem solid var(--primary-50);
	color: var(--primary-50);
	font-weight: 700;
}

.tabs .depth4>li.active .depth5 {
	display: flex;
}

.tabs .depth4>li.active:has(.depth5) {
	padding-bottom: 7rem;
}

.tabs .depth5 {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	gap: 1rem;
	justify-content: center;
	padding: 2rem 0;
	border-top: 1px solid var(--gray-15);
}

.tabs .depth5>li a,
.tabs .depth5>li button {
	background-color: var(--gray-5);
	color: var(--gray-90);
	border-radius: 3rem;
	font-size: 1.8rem;
	font-weight: 600;
	padding: 1.2rem 2rem;
	transition: 0.2s;
}

.tabs .depth5>li a:hover,
.tabs .depth5>li button:hover {
	background-color: var(--gray-10);
}

.tabs .depth5>li.active a,
.tabs .depth5>li.active button {
	background: var(--primary-60);
	color: var(--white);
}

.tabs .depth5>li~li {
	margin-left: -1px;
}

.mdi-area {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	/* padding-right: 17rem; */
}

.mdi-area .swiper-slide {
	width: auto;
}


.mdi-tabs {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding-right: 3rem;
	position: relative;
	flex: 1;
	width: 100%;
}

.mdi-tabs::after {
	content: "";
	display: block;
	width: 3rem;
	height: 100%;
	background: linear-gradient(90deg, rgba(246, 247, 251, 0) 0%, rgb(246, 247, 251) 100%);
	position: absolute;
	right: 0;
	z-index: 1;
}



.mdi-tabs .swiper-slide:only-child .ri-close-line {
	display: none;
}

.mdi-tabs .ri-close-line {
	border-radius: 50%;
	width: 1.6rem;
	height: 1.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
}

.mdi-tabs .ri-close-line:hover {
	background-color: var(--gray-20);
	color: var(--gray-90);
}


.mdi-tabs .mdi-item {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	font-size: 1.8rem;
	text-align: center;
	padding: 1rem 1.6rem;
	position: relative;
	line-height: 1.2;
	border-radius: 1.2rem 1.2rem 0 0;
	height: 4rem;
	font-size: 1.5rem;
	background-color: #7C7F91;
	color: var(--white);
	white-space: nowrap;
	transition: 0.15s;
	border: 0;
	&:hover {
		background-color: color-mix(in srgb, #7C7F91, #000 15%);
	}
	>small {
		opacity: 0;
		visibility: hidden;
		height: 0;
		overflow: hidden;
		transition: 0.15s ease;
		max-width: 0;
		font-size: 1.5rem;
	}
	i {
		display: none;
	}
	.ri-close-line {
		display: flex;
	}	
	&.active {
		background: var(--white);
		color: var(--gray-90);
		font-weight: 700;
	}
	
	&.active small {
		opacity: 1;
		visibility: visible;
		height: auto;
		max-width: fit-content;
	}
}

.mdi-container {
	display: flex;
	gap: 4px;
	padding: 8px 16px;
	background-color: var(--color-gray-100);
	border-bottom: 1px solid var(--color-gray-200);
}



.mdi-area .tab-control {
	display: flex;
	gap: 0.4rem;
	align-items: center;
	margin-left: 1rem;
}

.mdi-area .tab-control .swiper-button {
	position: static;
	transform: none;
	width: 2.4rem;
	margin-top: initial;
}

.mdi-area .tab-control button {
	border-color: var(--gray-20);
}

.mdi-area .tab-control .btn {
	padding: 0.4rem;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	display: none;
}

.user-group {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.user-group .user-icon {
	margin-left: -3px;
	margin-right: 0;
}

.user-group .user-sum {
	font-size: 1.6rem;
	color: var(--gray-70);
	margin-left: 12px;
	white-space: nowrap;
}

.user {
	display: flex;
	gap: 0.3rem;
	align-items: center;
	color: var(--gray-70);
	font-size: 1.5rem;
}

.user-icon {
	background: white;
	border-radius: 2rem;
	box-shadow: rgba(15, 15, 15, 0.1) 0px 2px 4px;
	outline: rgba(0, 0, 0, 0.3) solid 0.5px;
	width: 2rem;
	height: 2rem;
	font-size: 1.1rem;
	color: var(--gray-90);
	line-height: normal;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	position: relative;
	margin-right: 3px;
}

.user-icon img {
	object-fit: cover;
	border-radius: 100%;
	width: 100%;
	height: 100%;
}